/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
[data-container-search-bar] {
  height: 105px; }
  [data-container-search-bar] [data-container-call] a {
    color: #F44336;
    font-weight: bold; }
    [data-container-search-bar] [data-container-call] a i {
      font-size: 24px;
      color: #F44336;
      display: block;
      width: 38px;
      height: 38px;
      line-height: 34px;
      border: 2px solid;
      text-align: center;
      margin: 0 auto;
      border-radius: 50%; }
  [data-container-search-bar] [data-container-search] {
    width: auto; }
    [data-container-search-bar] [data-container-search] #frmHearderSearch {
      width: 400px; }
      [data-container-search-bar] [data-container-search] #frmHearderSearch input {
        padding-right: 50px;
        border: 2px solid #F44336;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch input:focus, [data-container-search-bar] [data-container-search] #frmHearderSearch input:hover {
          border: 2px solid #F44336;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
          -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset; }

.autocomplete-suggestions {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  cursor: default;
  overflow: auto;
  border: 2px solid red;
  top: 48px;
  border-top: none;
  -webkit-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s; }

.autocomplete-suggestion {
  border-bottom: 1px solid #f6f6f6;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  padding: 5px; }
  .autocomplete-suggestion [data-product-name] {
    vertical-align: top;
    padding: 12px 5px 0 5px;
    display: inline-block;
    color: #757575; }
  .autocomplete-suggestion:last-child {
    border-bottom: none; }

.autocomplete-no-suggestion {
  padding: 10px;
  color: #757575; }

.autocomplete-selected {
  background: #f5f5f5; }
  .autocomplete-selected [data-product-name] {
    color: black;
    font-weight: bold; }

[data-btn-search] {
  height: 50px; }
  [data-btn-search].active {
    visibility: visible;
    font-size: 8px !important;
    padding-right: 15px;
    right: 8px;
    top: 0; }
    [data-btn-search].active .fa {
      -webkit-animation: fa-spin 0.7s infinite linear;
      animation: fa-spin 0.7s infinite linear; }
      [data-btn-search].active .fa:after {
        opacity: 1;
        visibility: visible;
        animation: load-spin 450ms infinite linear;
        -webkit-animation: load-spin 450ms infinite linear;
        -o-transition: opacity .2s ease,visibility .2s ease;
        transition: opacity .2s ease,visibility .2s ease;
        -webkit-transition: opacity .2s ease,visibility .2s ease; }
      [data-btn-search].active .fa:before {
        display: none;
        opacity: 0; }

spinLoading {
  opacity: 1;
  visibility: visible;
  animation: load-spin 450ms infinite linear;
  -webkit-animation: load-spin 450ms infinite linear;
  -o-transition: opacity .2s ease,visibility .2s ease;
  transition: opacity .2s ease,visibility .2s ease;
  -webkit-transition: opacity .2s ease,visibility .2s ease; }

@media (max-width: 1024px) {
  .autocomplete-suggestions {
    border: 1px solid red;
    top: 31px;
    border-top: none !important;
    text-align: left; }
  [data-show-menu] {
    position: absolute;
    top: 0;
    left: 0;
    padding: 14px 16px;
    color: #212121; }
  [data-container-search-bar] {
    height: auto !important; }
    [data-container-search-bar] > a {
      position: relative;
      top: 5px;
      left: 0; }
    [data-container-search-bar] [data-container-search] {
      max-width: calc(100vw - 85px);
      right: 40px;
      position: absolute; }
      [data-container-search-bar] [data-container-search] #frmHearderSearch {
        width: 50px;
        max-width: 100%; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch .fa-search {
          font-size: 20px; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch div {
          margin: 0; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch input {
          border-radius: 0;
          border: 1px solid transparent;
          padding-left: 15px;
          padding-right: 0;
          color: transparent; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch label[for] {
          right: 0px;
          background: 0 0 !important;
          width: auto;
          font-size: 20px;
          border: none;
          position: absolute;
          top: 0;
          padding: 5px 10px;
          z-index: 10; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch [data-btn-search] {
          height: auto;
          right: 0;
          display: none; }
          [data-container-search-bar] [data-container-search] #frmHearderSearch [data-btn-search].active {
            font-size: 8px !important;
            padding-right: 15px; }
      [data-container-search-bar] [data-container-search] #chkShowHideSearchForm:checked ~ #frmHearderSearch {
        width: calc(100vw - 45px);
        padding-top: 3px; }
        [data-container-search-bar] [data-container-search] #chkShowHideSearchForm:checked ~ #frmHearderSearch [name="query"] {
          border: 1px solid red;
          color: black; }
        [data-container-search-bar] [data-container-search] #chkShowHideSearchForm:checked ~ #frmHearderSearch label[for] {
          display: none; }
        [data-container-search-bar] [data-container-search] #chkShowHideSearchForm:checked ~ #frmHearderSearch [data-btn-search] {
          display: block;
          padding-top: 7px; }
    [data-container-search-bar] [data-container-right] {
      font-size: 22px;
      padding: 0px;
      right: 20px;
      top: 5px; }
      [data-container-search-bar] [data-container-right] label {
        padding: 0 10px 5px 10px; } }
