@import '../core/mixin.scss';

[data-container-header-category] {
    ul {
        > li[data-first-li] {
            padding: 15px 13px;
            text-transform: uppercase;
            font-family: 'Playfair Display SC', serif;
            font-weight: bold;
            cursor: pointer;
            margin-right: 6px;

            a {
                color: $primary-text-color;
                font-size: 18px;
                transition: all .4s ease;
            }

            i {
                font-weight: bold;
            }

            &:hover, &.active {
                a {
                    color: $primary-color-light;
                }
            }

            [data-selector-childs] {
                border: 0 solid #212121;
                top: 49px;
                left: 0;
                background-color: #fff;
                position: absolute !important;
                z-index: 10;
                min-width: 100%;
                width: 300px;
                @include arrow-box(top,8px,white,0px,$primary-text-color,350px,20px);
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
                animation-timing-function: ease-in;
                animation-duration: 0.6s;
                animation-fill-mode: both;
                animation-name: scaleIn;

                li {
                    padding: 10px 20px;
                    display: block;
                    float: initial;
                    margin: 0;
                    overflow: hidden;

                    &:hover {
                        background-color: $silver-smoke;
                    }
                }

                a {
                    color: $primary-text-color !important;
                }
            }
        }

        [data-selector-news-menu] {
            position: absolute;
            display: none;
            left: 0;
            max-height: 0;

            [data-news-nav] {
                a:hover {
                    font-weight: bold;
                }
            }

            a {
                color: $color-text !important;
                font-weight: normal;

                &:hover, &.active {
                    color: black !important;
                }
            }

            ul {
                li {
                    padding: 10px;
                    margin-left: 10px;
                    margin-right: 0;
                }
            }
        }
    }

    [data-news] {
        float: right !important;
        color: $primary-text-color;
        font-size: 18px;
        transition: all .4s ease;
    }

    #chkShowHideFirstCategories:checked ~ ul [data-news] {

        [data-selector-news-menu] {
            .wrapper1280 {
                background-color: white !important;
            }
        }
    }


    #chkShowHideFirstCategories:checked ~ ul [data-news], [data-news]:hover {

        [data-selector-news-menu] {
            max-height: 1000px;
            z-index: 8;
            display: block;
            bottom: -280px;
            left: auto;
            right: auto;
            top: 55px;
            position: absolute;
            left: 0;
            width: 100%;
            background: #ffffff;
            box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);

            [data-trending-post] {
                width: calc(100% - 200px);
                display: inline-block;

                .flex {
                    & > div {
                        width: 125px;
                        display: inline-block;
                    }
                }
            }

            [data-news-nav] {
                float: right;
            }
        }
    }
}

[data-main-section].showNewsMenu {
    margin-top: 281px;

    [data-selector-news-menu] {
        .wrapper1280 {
            background-color: white;
        }
    }
}

@media (max-width: 1024px) {
    ._model-show {
        overflow: hidden;

        [data-head] {
            height: 500vh;
        }
    }

    [data-container-header-category] {

        ul {
            &[data-user-loged-in="False"] {
                max-height: calc(100vh - 103px);
            }

            &[data-user-loged-in="True"] {
                max-height: calc(100vh - 210px);
            }

            overflow-y: scroll !important;

            [data-container-logo] {
            }


            > li[data-first-li] {
                color: $primary-text-color;
                padding: 0;

                a {
                    padding: 10px;
                    display: inline-block;
                    color: $primary-text-color;
                }

                i {
                    top: 0;
                }

                &:hover {
                    background-image: none;
                    box-shadow: unset;
                }

                [data-selector-childs] {
                    display: none;
                    position: initial !important;

                    &:before, &:after {
                        display: none;
                    }

                    li {
                        list-style: disc;
                        padding: 0 !important;
                        margin-left: 25px;
                        border-left: 1px dashed silver;

                        a {
                            padding: 7px 15px;
                        }
                    }
                }

                [data-news] {
                    li {
                        a {
                            div {
                                display: inline-block;
                                width: calc(100% - 65px);
                                vertical-align: top;
                            }
                        }
                    }
                }

                input[type=checkbox]:checked {
                    ~ [data-selector-childs] {
                        display: block;

                        li {
                            padding: 10px;
                            padding-left: 25px;
                            text-transform: capitalize;
                        }
                    }

                    ~ label {
                        transform: rotate(-180deg);
                        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
                    }
                }
            }

            [data-selector-news-menu] {

                [data-news-nav] {
                    a:hover {
                    }
                }

                a {
                    &:hover, &.active {
                    }
                }

                ul {
                    li {
                    }
                }
            }
        }

        [data-news] {
            &:hover {
                [data-selector-news-menu] {
                }
            }
        }

        #chkShowHideFirstCategories:checked ~ ul [data-news] {
            [data-selector-news-menu] {
                .wrapper1280 {
                }
            }
        }


        #chkShowHideFirstCategories:checked ~ ul [data-news], [data-news]:hover {
            [data-selector-news-menu] {
                .wrapper1280 {
                }
            }
        }
    }
}
