@import '../core/_variable.scss';

[data-container-search-bar] {

    [data-container-search] {
        width: #ededed;

        #frmHearderSearch {

            input {
                background: #ededed;
                border: none;
                color: $secondary-text-color;
                font-family: Roboto, Arial, Helvetica, sans-serif;
                font-size: .929em;
                height: 32px;
                line-height: 32px;
                margin: 0;
                outline: none;
                padding: 0 50px 0 20px;
                width: 250px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;

                &:hover, &:focus {
                    background: #ededed !important;
                }

                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $color-text;
                    opacity: 1; /* Firefox */
                }
            }
        }
    }
}


.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF;
    cursor: default;
    overflow: initial;
    background-color: #EDEDED;
    top: 33px;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    &::before {
        content: "";
        zoom: 1;
        background-color: #EDEDED;
        position: absolute;
        width: 100%;
        height: 10px;
        top: -7px;
    }
}


.autocomplete-suggestion {
    border-bottom: 1px solid $silver-smoke;
    white-space: nowrap;
    overflow: hidden;
    transition: background 0.2s;
    padding: 5px;


    [data-product-name] {
        vertical-align: top;
        padding: 12px 5px 0 5px;
        display: inline-block;
        color: $secondary-text-color
    }

    &:last-child {
        border-bottom: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

.autocomplete-no-suggestion {
    padding: 10px;
    color: $secondary-text-color;
}

.autocomplete-selected {
    background: $light-silver;

    [data-product-name] {
        color: black;
        font-weight: bold;
    }
}

[data-btn-search] {
    height: 50px;
    visibility: hidden;

    &.active {
        visibility: visible;
        font-size: 8px !important;
        padding-right: 15px;
        right: 8px;
        top: 0;

        .fa {
            -webkit-animation: fa-spin 0.7s infinite linear;
            animation: fa-spin 0.7s infinite linear;

            &:after {
                opacity: 1;
                visibility: visible;
                animation: load-spin 450ms infinite linear;
                -webkit-animation: load-spin 450ms infinite linear;
                transition: opacity .2s ease,visibility .2s ease;
                -webkit-transition: opacity .2s ease,visibility .2s ease;
            }

            &:before {
                display: none;
                opacity: 0;
            }
        }
    }
}

spinLoading {
    opacity: 1;
    visibility: visible;
    animation: load-spin 450ms infinite linear;
    -webkit-animation: load-spin 450ms infinite linear;
    transition: opacity .2s ease,visibility .2s ease;
    -webkit-transition: opacity .2s ease,visibility .2s ease;
}
[data-head] {
    height: 113px;
}
[data-search-container] {
    transition: all .5s ease;


    [data-item-1] {
        a {
            img {
                transition: all .4s ease;
            }
        }
    }

    [data-item-21] {
        & > div {
            float: right;
        }
    }

    [data-item-22] {
        transition: all .4s ease;
    }
}

._zDocActive {
    [data-search-container] {
        position: fixed;
        background-color: white;
        z-index: 10;
        background: rgba(255,255,255,0.95);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.11);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.11);
        box-shadow: 0 1px 3px rgba(0,0,0,0.11);
        transition: all .4s ease;

        [data-item-1] {
            height: 50px;
            padding: 4px;

            a {
                img {
                    height: 45px;
                    width: auto;
                    transition: all .4s ease;
                }
            }
        }

        [data-item-21], [data-item-3] {
            display: none;
        }


        [data-item-2] {
            width: 75%;

          
            [data-item-22] {
                transition: all .4s ease;

                [data-container-header-category] {
                    border: none;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .autocomplete-suggestions {       
        top: 31px;
        border-top: none !important;
        text-align: left;
    }



    [data-container-search-bar] {
        height: auto !important;

        [data-container-search] {
            max-width: 300px;
            right: 40px;
            position: absolute;

            #frmHearderSearch {
                padding-right: 12px;
                max-width: 100%;

                input {
                    width: 0;
                    padding: 0;
                    float: right;
                }

                label[for] {
                    right: 5px;
                    background: 0 0 !important;
                    width: auto;
                    font-size: 16px;
                    border: none;
                    position: absolute;
                    top: 0;
                    padding: 7px 13px;
                    z-index: 10;
                }

                [data-btn-search] {
                    height: auto;


                    &.active {
                        font-size: 8px !important;
                        padding-right: 15px;
                    }
                }
            }

            #chkShowHideSearchForm:checked {

                ~ #frmHearderSearch {
                    width: 285px;

                    [name="query"] {
                        display: block !important;
                        padding: 18px;
                        width: 100%;
                        margin-top: 1px;
                    }

                    label[for] {
                    }
                }
            }
        }
    }

    ._zDocActive {
        [data-search-container] {
            box-shadow: none;

            [data-item-1] {

                a {
                    img {
                        height: 30px;
                        margin-top: 5px;
                    }
                }
            }

            [data-item-21], [data-item-3] {
                display: block;
            }


            [data-item-2] {
                width: 100%;

                [data-item-22] {
                    [data-container-header-category] {
                    }
                }
            }
        }
    }

    [data-container-right] {
        font-size: 22px;
        padding: 0px;
        right: 20px;
        top: 5px;
        width:50px;
        label {
            padding: 0 10px 5px 10px;
        }
    }

    [data-head] {
        height: 50px;
    }

    [data-search-container] {
        transition: all .5s ease;


        [data-item-1] {
            position: absolute;
            display: inline-block;
            text-align: center;
            padding-top: 5px;

            a {
                img {
                    height: 35px;
                    width: auto;
                    transition: all .4s ease;
                }
            }
        }

        [data-item-21] {
            & > div {
                float: initial;
            }
        }

        [data-item-22] {
            transition: all .4s ease;
        }

        [data-target-model] {
            .fa-shopping-cart{
                color:#666;
            }
        }


    }
}
