@import '../core/_variable.scss';
[data-container] {
    [data-classification-id] {
        position: relative;
        border-bottom: 1px solid whitesmoke;
        padding: 10px 5px;

        img {
            width: 55px;
        }

        [data-container-shoppingcart-right] {
            display: inline-block;
            width: calc(100% - 60px);
            vertical-align: top;

            h5 {
                font-size: 16px;
                overflow: hidden;
                padding-bottom: 5px;
            }

            dl {
                dt {
                }
            }
        }
    }

    ._id-cartmodel {
        height: 100%;

        > ul {
            max-height: calc(100% - 389px);
            overflow-y: auto;
            overflow-x: hidden;
        }

        [data-container-shopping-cart-bottom] {
            position: absolute;
            bottom: 0px;
        }
    }
}
@media (max-height: 800px) {
    [data-container] {
        header{
            padding: 10px;
        }
    }
}
@media (max-height: 500px) {
    [data-container-shopping-cart-bottom] {
        display: none !important;
    }
}