@import '../core/_variable.scss';
@import 'modules/p-shopingcart-nav.scss';

div.awesomplete {
    width: 100% !important;
}

._p-payment-1, ._p-payment-2 {
    height: 0;
    max-height: 0;
    animation: all 0.5 ease-in-out;
    padding: 0;
    border: none;
    opacity: 0;
    overflow: hidden;
    box-shadow: none;
}
.showPayment1 {
    ._p-payment-1 {
        height: auto;
        max-height: initial;
        animation: all 0.5 ease-in-out;
        padding: 20px;
        opacity: 1;
    }
}
.showPayment2 {
    ._p-payment-2 {
        height: auto;
        max-height: initial;
        animation: all 0.5 ease-in-out;
        padding: 20px;
        opacity: 1;
    }
}