@import '../core/_variable.scss';

._dock-left {
    position: absolute;
    height: calc(100% - 500px);
    z-index: 10;
}

._dock-right {
    position: absolute;
    height: calc(100% - 500px);
    z-index: 1;
    z-index: 10;
}


[data-post-item] {
    width: 370px;
    margin-bottom: 50px;        
    margin: 0 10px;
}

@media (max-width: 800px) {
    [data-post-item] {
        width: auto;        
    }

}


    [data-tags] {
        height: 120px;
    }

    [data-menu] {
        display: flex;
        justify-content: center;

        li {
            display: inline-block;
            vertical-align: top;
        }

        [data-name] {
            text-transform: uppercase;
        }

        .curentId {
            font-weight: bold;
            color: palevioletred;
        }
    }

    ._id-categoryList {

        label {
            .fa-stack {
                top: -32px;
            }
        }
    }

    ul {
        & > li {
            input:checked {
                & ~ label {

                    [data-name] {
                        font-weight: bold;
                        color: black;
                    }
                }
            }
        }
    }

    [data-show-hide] {
        & ~ [data-menu] {
            display: none;
        }

        & ~ label {
            .fa-stack {
                -webkit-transition: -webkit-transform .6s ease-in-out;
                transition: transform .6s ease-in-out;

                .fa-angle-up {
                    line-height: 24px;
                }
            }
        }




        &:checked {
            & ~ label {
                .fa-stack {
                    -webkit-transform: rotate(-180deg);
                    transform: rotate(-180deg);

                    .fa-circle {
                        color: whitesmoke !important;
                    }
                }
            }

            & ~ [data-menu] {
                display: block;
            }
        }
    }
