@import '../core/_variable.scss';

._dock-left {
    position: absolute;
    height: calc(100% - 1222px);
    z-index: 10;
}

._dock-right {
    position: absolute;
    height: calc(100% - 1222px);
    z-index: 10;
    right: 0;
}


[data-container-slider] {
    img {
        width: 100%;
    }

    .swiper-slide {
        height: 715px;

        [data-slider-content] {
            padding-top: 100px;
            padding: 100px 10px 10px 10px;

            h2 {
                font-size: 79px;
                line-height: 95px;
                font-weight: 200;
            }

            h3 {
                font-size: 50px;
                line-height: 50px;
                padding-bottom: 40px;
            }

            p {
                font-size: 24px;
                line-height: 24px;
            }
        }
    }
}

[data-two-column] {
    .col-6 {
        height: 232px;
        position: relative;
    }

    [data-left-item] {
        &::before {
            height: 0px;
            width: 0px;
            transition: all .3s ease-out 0s;
            top: 0;
            left: 0;
            background-color: rgba(255,255,255,0.15);
            content: '';
            position: absolute;
        }

        &::after {
            transition: all .3s ease-out 0s;
            bottom: 0;
            right: 0;
            height: 0px;
            width: 0px;
            background-color: rgba(255,255,255,0.15);
            content: '';
            position: absolute;
        }

        &:hover {
            &::before, &::after {
                height: 100%;
                width: 100%;
                transition: all .3s ease-out 0s;
            }
        }

        [data-content] {
            padding: 70px 40px;

            h2 {
                font-family: serif;
                font-size: 35px;
                color: #FFB421 !important;
                font-style: italic;
                line-height: 0px;
            }

            h3 {
                font-size: 45px;
                color: $secondary-text-color !important;
                font-style: italic;
                font-family: 'Playfair Display SC', serif;
                font-weight: bold;
                line-height: 49px;
                padding-bottom: 10px;
            }
        }
    }

    [data-right-item] {

        &::before {
            height: 0px;
            width: 0px;
            transition: all .3s ease-out 0s;
            top: 0;
            left: 0;
            background-color: rgba(255,255,255,0.15);
            content: '';
            position: absolute;
        }

        &::after {
            transition: all .3s ease-out 0s;
            bottom: 0;
            right: 0;
            height: 0px;
            width: 0px;
            background-color: rgba(255,255,255,0.15);
            content: '';
            position: absolute;
        }

        &:hover {
            &::before, &::after {
                height: 100%;
                width: 100%;
                transition: all .3s ease-out 0s;
            }
        }

        [data-content] {
            padding: 70px 50px;
            width: 60%;
            text-align: center;

            h2 {
                font-family: serif;
                font-size: 65px;
                color: white !important;
                font-weight: 200;
                line-height: 0px;
            }

            h3 {
                font-size: 25px;
                color: $secondary-text-color !important;
                padding-top: 40px;
                font-family: serif;
                padding-bottom: 10px;
            }
        }
    }
}

[data-text-header] {
    font-size: 35px;
}

[data-first-news] {
    [data-col2-content] {
        max-height: 370px;

        header {
            h2 {
                font-size: 50px;
                line-height: 60px;
            }
        }
    }
}



[data-container-newest-post] {

    [data-post-id] {
        max-width: 370px;
        padding-top: 10px;
        &:hover {
            box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
        }
    }
}

[data-container-category] {
    [data-tab] {
        position: relative;
        text-align: center;

        &::before {
            height: 2px;
            width: 0;
            transition: all .3s ease-out 0s;
            bottom: 0;
            position: absolute;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            left: -1px;
            right: -1px;
            background-color: $primary-color;
        }
    }

    [data-active-tab-number] li[data-tab-active], [data-active-tab-number="0"] li[data-tab="0"], [data-active-tab-number="1"] li[data-tab="1"], [data-active-tab-number="2"] li[data-tab="2"], [data-active-tab-number="3"] li[data-tab="3"], [data-active-tab-number="4"] li[data-tab="4"], [data-active-tab-number="5"] li[data-tab="5"], [data-active-tab-number="6"] li[data-tab="6"] {
        &::before {
            width: 100%;
        }

        label {
            color: $primary-color;
        }
    }

    nav ul li {
        font-size: 30px;
    }
}

[data-review] {
    ._glass-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6);
    }

    [data-slider-content] {
        blockquote {
            background-color: transparent !important;
            border: none !important;
            position: relative;
            padding: 15px 100px;

            &::before {
                color: $primary-color;
                content: "“";
                display: inline-block;
                font-family: 'Lobster', cursive;
                font-size: 180px;
                left: 22px;
                top: -36px;
                line-height: 1;
                position: absolute;
                z-index: 9;
            }
        }
    }
}

#frmContact {
    .row {
        padding-top: 20px;

        label {
            position: absolute;
            top: 4px;
            transition: all .25s ease;
            left: 0;
            font-weight: normal;

            span {
                color: red !important;
                font-weight: normal;
            }
        }

        input, textarea {
            padding-left: 0;

            &:hover {
                box-shadow: none !important;
                background-color: transparent !important;
            }

            &:focus {
                border-bottom-width: 2px;
                box-shadow: none !important;
                background-color: transparent !important;

                & + label {
                    transition: all .25s ease;
                    font-size: 11px;
                    top: 4px;
                }
            }
        }

        button {
            font-size: 17px;
            padding: 8px 15px !important;
        }

        &[data-captcha-container] {
            padding-top: 31px;

            ._image-wrap {
                &::before {
                    width: 100%;
                    height: 100%;
                    background-image: url(/images/icons/continuous-min.svg);
                    position: absolute;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 80% 80%;
                    background-color: transparent;
                    transition: all .5s ease-in;
                    display: none;
                }

                &::after {
                    display: none;
                }

                &:hover {
                    &::before {
                        background-color: #0000003b;
                        transition: all .5 ease-in;
                        display: block;
                    }
                }

                cursor: pointer;
                position: absolute;
                right: 0;
                top: 19px;
            }

            #img-captcha {
            }

            input {
            }
        }
    }
}
[data-review-col1]{

}
[data-review-col2] {
    padding: 60px;

    [data-row-1] {
        font-size: 30px;
        line-height: 40px;
    }

    [data-row-2] {
        font-size: 80px;
        line-height: 100px;
    }

    [data-row-3] {
        font-size: 50px;
        line-height: 60px;
    }
}


@media (max-width: 800px) {
    [data-container-slider] {
        img {
            height: 100%;
            width: initial;
            flex: none;
            max-width: initial;
        }

        .swiper-slide {
            height: 375px;
            overflow: hidden;

            [data-slider-content] {
                padding-top: 100px;
                padding: 100px 10px 10px 10px;

                h2 {
                    font-size: 41px;
                    line-height: 45px;
                    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
                }

                h3 {
                    font-size: 40px;
                    line-height: 45px;
                    padding-top: 10px;
                    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
                }

                p {
                    display: none;
                }
            }
        }
    }

    [data-two-column] {
        .col-6 {
            height: initial;
        }

        [data-left-item] {
            [data-content] {
                padding: 10px 10px;

                h2 {
                    font-size: 26px;
                    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
                }

                h3 {
                    font-size: 23px;
                    line-height: 35px;
                    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
                }

                p {
                    display: none;
                }
            }
        }

        [data-right-item] {
            [data-content] {
                width: 100%;
                padding: 12px 10px;


                h2 {
                    font-family: serif;
                    font-size: 37px;
                    color: white !important;
                    font-weight: 200;
                    line-height: 40px;
                }

                h3 {
                    font-size: 25px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                }

                p {
                    display: none;
                }
            }
        }
    }

    [data-container-newest-post] {
        display: block;
        padding-bottom: 56px;

        [data-col-2] {
            display: block;
        }

        [data-col2-content] {
            h2 {
                font-size: 50px;
                line-height: 48px;
                padding: 0 10px 20px 10px;
            }
        }
    }

    [data-review] {
        ._glass-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.6);
        }

        [data-slider-content] {
            blockquote {
                padding: 20px 36px;

                &::before {
                    font-size: 114px;
                    left: 0px;
                    top: -4px;
                }
            }
        }
    }

    [data-review-col1]{
        height:501px;
    }

    [data-review-col2] {
        padding: 20px;
        height: 501px;
        text-align: center;

        [data-register] {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            ._isSubscibed{
                display: none;
            }
        }

        [data-row-1] {
            font-size: 19px;
            line-height: 26px;
        }

        [data-row-2] {
            font-size: 50px;
            line-height: 64px;
        }

        [data-row-3] {
            font-size: 26px;
            line-height: 30px;
        }
    }
}
