@import '../core/_variable.scss';

html {
    scroll-behavior: smooth;   
}
h1, h2, h3, h4 {
    color: $primary-text-color;
}

[data-container-social] li{
    margin-right: 3px !important;
}
main {
    ._btn-back-top {
        opacity: .4;
        margin: 20px;
        position: fixed;
        bottom: 70px;
        right: 10px;
        width: 40px !important;
        line-height: 32px !important;
        height: 40px !important;
        z-index: 9;
        font-size: 24px !important;

        &:hover {
            opacity: 0.8;
        }
    }
}




[data-main-section] {
    min-height: calc(100vh - 457px);

    header {
        [data-black-row] {
            background-color: $primary-text-color;
            text-align: center;
            padding: 50px;

            [category-name] {
                display: inline-block;
                position: relative;
                color: white;

                a {
                    span {
                        position: absolute;
                        width: 200px;
                        text-align: right;
                        vertical-align: middle;
                        left: -205px;
                        top: -18px;
                        margin: 0;
                        padding: 8px 0;
                    }

                    span, i {
                        padding-right: 10px;
                    }
                }

                h1 {
                    display: inline-block;
                    color: white;
                    font-weight: bold;
                    font-size: 60px;
                    line-height:60px;
                }
            }
        }
    }
}

[data-container-shoping-cart].visible {
    [data-container] {
        transform: none;
    }
}

[data-container-shoping-cart] {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;

    ._modal {
    }

    [data-container] {
        width: 340px;
        float: right;
        height: 100%;
        display: block;
        z-index: 500;
        overflow: hidden;      
        -webkit-transition: transform .25s ease;
        -webkit-transition: -webkit-transform .25s ease;
        transition: -webkit-transform .25s ease;
        transition: transform .25s ease;
        transition: transform .25s ease,-webkit-transform .25s ease;
        transform: translate3d(340px,0,0);
        -webkit-transform: translate3d(340px,0,0);

        [data-type-close-popup] {
            line-height: 30px;

            ._close-button {
                height: 11px;
            }
        }

        [data-cart-container]{
            height: calc(100vh - 73px)
        }
    }
}

._p-product-widget {   
    display: inline-block;
    vertical-align: top;
    h4{
        line-height: 20px;
    }  

    a{
        color: $color-text;
        &:hover{
            color:$primary-color;
        }
    }

    [data-product-widget-action-container]{
        > div{
            height:40px;
            width: 100%;
        }
    }
}


[data-contact] {
    padding: 50px;
    font-size: 20px;
}

@media (max-width: 800px) {

    ._p-product-widget {
        [data-product-widget-action-container] {
            > div {
                height: auto;
                display:block;                
            }

            [data-row2]{
                margin-top: 60px;
            }
        }
    }

    [data-contact] {
        padding: 5px;
        font-size: 20px;
        .text-26{
            font-size:20px !important;
        }
    }

    [data-main-section] {
        min-height: initial;
    }

    #tawkchat-container {
        z-index: 9 !important;
    }

   
}
@media (max-height: 500px) {
    [data-container-logo] {
        border: none !important;

        img {
            display: none !important;
        }
    }
}
@media (max-width: 1024px) {
    
    [data-container-mobile-nav].visible {
        [data-container] {
            transform: none;
        }
    }

    [data-links] {
        [data-col-2] {
            display: block !important;

            [data-col-22], [data-col-23] {
                width: 50% !important;
                border-top: 1px solid #e6e6e6;
            }
        }
    }

    main {
        ._btn-back-top {
            display: none;
        }

        [data-main-section] {
            margin-top: 44px;
        }

        [data-head] {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: white;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19);
        }
    }

    [data-container-mobile-nav] {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 10;

        ._modal {
        }

        [data-container] {
            width: 340px;
            float: left;
            height: 100%;
            display: block;
            z-index: 500;
            overflow: hidden;
            background-color: #fff;
            -webkit-transition: transform .25s ease;
            -webkit-transition: -webkit-transform .25s ease;
            transition: -webkit-transform .25s ease;
            transition: transform .25s ease;
            transition: transform .25s ease,-webkit-transform .25s ease;
            transform: translate3d(-340px,0,0);
            -webkit-transform: translate3d(-340px,0,0);

            [data-type-close-popup] {
                line-height: 30px;

                ._close-button {
                    height: 11px;
                }
            }
        }
    }
}
