@charset "UTF-8";
/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
[data-brand-name] [data-brand-name-container] {
  border: 1px solid #f5f5f5; }

[data-brand-name] header {
  border-bottom: 1px solid #f5f5f5; }

[data-brand-name] .swiper-container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

[data-brand-name] .swiper-button-next-brand {
  width: 19px;
  height: 0;
  right: -26px;
  position: absolute;
  top: 58px;
  cursor: pointer; }
  [data-brand-name] .swiper-button-next-brand.swiper-button-disabled {
    display: none; }

[data-brand-name] .swiper-button-prev-brand {
  width: 19px;
  height: 0;
  left: -26px;
  position: absolute;
  top: 58px;
  cursor: pointer; }
  [data-brand-name] .swiper-button-prev-brand.swiper-button-disabled {
    display: none; }

[data-brand-name] .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center; }
  [data-brand-name] .swiper-slide [data-box] {
    background: #fff;
    border: 1px solid lightgray;
    width: 100%;
    padding: 8px; }
    [data-brand-name] .swiper-slide [data-box] img {
      height: 47px;
      width: auto;
      max-width: 125px; }
  [data-brand-name] .swiper-slide:hover [data-box] {
    border-color: #FFCDD2;
    -webkit-transition: all ease-in-out .1s;
    -o-transition: all ease-in-out .1s;
    transition: all ease-in-out .1s; }
  [data-brand-name] .swiper-slide:hover ._grayscale {
    cursor: pointer;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transition: all ease-in-out .1s;
    -o-transition: all ease-in-out .1s;
    transition: all ease-in-out .1s; }

._dock-left {
  position: absolute;
  height: calc(100% - 1222px);
  z-index: 10; }

._dock-right {
  position: absolute;
  height: calc(100% - 1222px);
  z-index: 10;
  right: 0; }

[data-sales] [data-column] {
  padding-left: 55px;
  position: relative;
  border-right: 2px solid #ffffff69;
  margin-right: 20px; }
  [data-sales] [data-column]:last-child {
    border: 0; }
  [data-sales] [data-column] img {
    position: absolute;
    top: 20px;
    left: 0; }

[data-product-grid] .wrapper1280 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }

[data-sec-product-1] [data-product-id] {
  height: 180px; }

[data-container-slider] img {
  width: 100%;
  height: 100%; }

[data-container-slider] .swiper-slide {
  height: 715px; }

[data-container-newest-product] h2 {
  text-align: center; }
  [data-container-newest-product] h2 a {
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-size: 43px;
    display: block; }

._colorfull {
  font-family: "Oswald";
  font-size: 34px;
  padding: 10px 40px;
  font-weight: bold;
  color: orangered;
  font-weight: bold;
  text-shadow: 3px 3px rgba(85, 85, 85, 0.15);
  border-top: 2px solid rgba(85, 85, 85, 0.15);
  border-bottom: 2px solid rgba(85, 85, 85, 0.15);
  line-height: 1.5em; }

[data-container-newest-post] {
  padding-bottom: 20px; }
  [data-container-newest-post] ul li {
    max-width: 406px;
    padding: 30px 10px;
    display: inline-block;
    border: none !important;
    background-color: white;
    margin: 0 10px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
    [data-container-newest-post] ul li:hover {
      -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }

[data-container-category-product] .fill-white {
  min-height: 600px;
  padding: 32px 5px; }

[data-review] {
  border: 2px solid #FFCDD2;
  height: 250px; }
  [data-review] ._glass-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6); }
  [data-review] .swiper-slide img {
    width: 60px;
    height: 60px; }
  [data-review] [data-slider-content] blockquote {
    background-color: transparent !important;
    border: none !important;
    position: relative;
    padding-left: 25px; }
    [data-review] [data-slider-content] blockquote::before {
      color: #F44336;
      content: "“";
      display: inline-block;
      font-family: "Open Sans";
      font-size: 93px;
      left: -3px;
      top: 1px;
      line-height: 1;
      position: absolute;
      z-index: 9; }

@media (max-width: 800px) {
  [data-brand-name] .swiper-slide [data-box] img {
    max-width: 88px; }
  [data-sales] {
    background-color: white !important; }
    [data-sales] [data-column] {
      padding: 10px;
      border: none;
      margin: 0 !important;
      width: 100%;
      text-align: center; }
      [data-sales] [data-column] img {
        position: initial; }
  [data-container-slider] img {
    width: 100%;
    height: auto;
    max-height: 450px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: initial; }
  [data-container-slider] .swiper-slide {
    height: auto;
    max-height: 375px;
    overflow: hidden; }
  [data-product-grid] ._flex-container-1 {
    display: block;
    height: auto !important;
    text-align: center; }
  [data-product-grid] ._image-wrap {
    display: block; } }
