/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
html {
  scroll-behavior: smooth; }

._model-show {
  overflow: hidden; }

#viewedProduct a, ._z-viewd-product a {
  margin-right: 10px;
  margin-bottom: 10px; }

[data-checking-order] {
  position: relative; }
  [data-checking-order] [for=showHideCheckingOrder] {
    margin-top: 10px; }
  [data-checking-order] .btn {
    color: white; }
  [data-checking-order] #showHideCheckingOrder:checked ~ [data-checking-container] {
    position: relative;
    background: white;
    border: 0px solid #212121;
    top: 39px;
    display: block !important;
    width: 160px;
    right: 0;
    position: absolute; }
    [data-checking-order] #showHideCheckingOrder:checked ~ [data-checking-container]:after, [data-checking-order] #showHideCheckingOrder:checked ~ [data-checking-container]:before {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    [data-checking-order] #showHideCheckingOrder:checked ~ [data-checking-container]:after {
      border-color: rgba(255, 255, 255, 0);
      border-width: 7px; }
    [data-checking-order] #showHideCheckingOrder:checked ~ [data-checking-container]:before {
      border-color: rgba(0, 0, 0, 0);
      border-width: 7px; }
    [data-checking-order] #showHideCheckingOrder:checked ~ [data-checking-container]:after, [data-checking-order] #showHideCheckingOrder:checked ~ [data-checking-container]:before {
      bottom: 100%;
      left: 100px; }
    [data-checking-order] #showHideCheckingOrder:checked ~ [data-checking-container]:after {
      border-bottom-color: white; }
    [data-checking-order] #showHideCheckingOrder:checked ~ [data-checking-container]:before {
      border-bottom-color: #212121; }
  [data-checking-order] #showHideCheckingOrder:checked ~ [for=showHideCheckingOrder] {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0.18))) !important;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)) !important;
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)) !important; }

main ._btn-back-top {
  opacity: .4;
  margin: 20px;
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 40px !important;
  line-height: 32px !important;
  height: 40px !important;
  z-index: 9;
  font-size: 24px !important; }
  main ._btn-back-top:hover {
    opacity: 0.8; }

[data-main-section] {
  min-height: calc(100vh - 457px); }
  [data-main-section] header [data-black-row] [category-name] {
    display: inline-block;
    position: relative;
    color: white; }
    [data-main-section] header [data-black-row] [category-name] a span {
      position: absolute;
      width: 200px;
      text-align: right;
      vertical-align: middle;
      left: -205px;
      margin: 0;
      padding: 8px 0; }
    [data-main-section] header [data-black-row] [category-name] a span, [data-main-section] header [data-black-row] [category-name] a i {
      padding-right: 10px; }
    [data-main-section] header [data-black-row] [category-name] h1 {
      display: inline-block;
      color: white;
      font-weight: bold;
      font-size: 60px;
      line-height: 60px; }

[data-cart-item] {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 33px;
  right: 36px;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 0;
  text-align: center;
  background: #2196f3cf;
  color: white; }

[data-search-container] {
  padding: 15px 0; }
  [data-search-container] [data-container-call] a {
    color: #F44336;
    font-weight: bold; }
    [data-search-container] [data-container-call] a i {
      font-size: 24px;
      color: #F44336;
      display: block;
      width: 38px;
      height: 38px;
      line-height: 34px;
      border: 2px solid;
      text-align: center;
      margin: 0 auto;
      border-radius: 50%; }
  [data-search-container] [data-container-search-bar] {
    display: inline-block;
    width: calc(100% - 563px);
    vertical-align: top;
    padding-top: 20px;
    text-align: center; }
    [data-search-container] [data-container-search-bar] #btnSearchProductName .fa {
      color: #D32F2F; }
  [data-search-container] [data-menu-right] {
    position: absolute;
    right: 0;
    top: 10px;
    padding-top: 30px; }
    [data-search-container] [data-menu-right] [data-container-user-controls] {
      display: inline-block;
      padding: 0 15px; }
      [data-search-container] [data-menu-right] [data-container-user-controls] a[data-link] i ~ span {
        text-transform: uppercase;
        color: #D32F2F; }
      [data-search-container] [data-menu-right] [data-container-user-controls] a[data-link] i.fa {
        display: block;
        margin: 5px;
        text-align: center;
        color: #D32F2F; }
      [data-search-container] [data-menu-right] [data-container-user-controls] [data-user-box-container] {
        top: 84px; }
    [data-search-container] [data-menu-right] [data-container-cart] {
      display: inline-block;
      padding: 0 15px; }
      [data-search-container] [data-menu-right] [data-container-cart] li i ~ span {
        text-transform: uppercase;
        color: #D32F2F; }
      [data-search-container] [data-menu-right] [data-container-cart] li i.fa {
        display: block;
        margin: 5px;
        text-align: center;
        color: #D32F2F; }

[data-container-shoping-cart].visible [data-container] {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none; }

[data-container-shoping-cart] {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000; }
  [data-container-shoping-cart] [data-container] {
    width: 340px;
    float: right;
    height: 100%;
    display: block;
    z-index: 500;
    overflow: hidden;
    -webkit-transition: transform .25s ease;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    -o-transition: transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
    transition: transform .25s ease,-webkit-transform .25s ease;
    transform: translate3d(340px, 0, 0);
    -webkit-transform: translate3d(340px, 0, 0); }
    [data-container-shoping-cart] [data-container] [data-type-close-popup] {
      line-height: 30px; }
      [data-container-shoping-cart] [data-container] [data-type-close-popup] ._close-button {
        height: 11px; }
    [data-container-shoping-cart] [data-container] [data-cart-container] {
      height: calc(100% - 75px);
      position: absolute;
      width: 100%; }

@media (max-width: 800px) {
  [data-main-section] {
    min-height: initial; }
  #tawkchat-container {
    z-index: 9 !important; } }

@media (max-height: 500px) {
  [data-container-logo] {
    border: none !important; }
    [data-container-logo] img {
      display: none !important; } }

@media (max-width: 1024px) {
  [data-main-section] header [data-black-row] {
    padding: 20px !important;
    overflow: hidden; }
    [data-main-section] header [data-black-row] [category-name] h1 {
      font-size: 30px;
      line-height: 40px; }
  [data-container-mobile-nav].visible [data-container] {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  main ._btn-back-top {
    display: none; }
  main [data-main-section] {
    margin-top: 44px; }
  main [data-head] {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19); }
  [data-container-mobile-nav] {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000; }
    [data-container-mobile-nav] [data-container] {
      width: 340px;
      float: left;
      height: 100%;
      display: block;
      z-index: 500;
      overflow: hidden;
      background-color: #fff;
      -webkit-transition: transform .25s ease;
      -webkit-transition: -webkit-transform .25s ease;
      transition: -webkit-transform .25s ease;
      -o-transition: transform .25s ease;
      transition: transform .25s ease;
      transition: transform .25s ease, -webkit-transform .25s ease;
      transition: transform .25s ease,-webkit-transform .25s ease;
      transform: translate3d(-340px, 0, 0);
      -webkit-transform: translate3d(-340px, 0, 0); }
      [data-container-mobile-nav] [data-container] [data-type-close-popup] {
        line-height: 30px; }
        [data-container-mobile-nav] [data-container] [data-type-close-popup] ._close-button {
          height: 11px; } }
