@import "../../sass/Default/core/_variable.scss";
/*SESSION PROJECT*/

 /*"ImageOptions": {
    "MaxWidth": "1440",
    "Maxheight": "960",
    "SliderWidthSize": "720",
    "SliderHeightSize": "480",
    "WidgetWidthSize": "288",
    "WidgetHeightSize": "162",
    "MapSearchThumnailWidthSize": "144",d
    "MapSearchThumnailHeightSize": "96",
    "SliderThumnailWidthSize": "108",
    "SliderThumnailHeightSize": "71",
    "ImageCompress": "75"
}*/

.swiper-slide {  
    img {
        max-height: 100%;
        width: auto;
    }
}

.ProductSlider {
    &.gallery-top {
        max-width: 100%;
        width: 740px;
        margin-left: initial;
        /*background-color: $light-silver;*/
        /*height: 490px;*/
        padding: 5px;
        /*counter-reset: img-count;*/
        .swiper-pagination {
            /*&:before {
                content: counter(img-count);
            }*/
            color: white;
            border: 3px;
            border-radius: 3px;
            top: 10px;
            left: 20px;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
            width: 30px;
            height: 17px;
            font-size: xx-small;
            text-align: center;
            line-height: 17px;
        }

        ._p-show-photowipe {
            color: white;
            top: 10px;
            right: 10px;
            z-index: 1;
            position: absolute;
            cursor: pointer;
            width: 29px;
            height: 25px;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.7);
            background-position: -7px -10px;
        }

        .swiper-slide {
            /*counter-increment: img-count;*/
            display: flex;
            align-items: center;
            background-size: cover;
            background-position: center;
            text-align: center;
            justify-content: center;
            overflow: hidden;
            img {
                cursor: grab;
            }
        }

        .swiper-button-next, .swiper-button-prev {
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.29);
            color: white;
            background-image: none;
            height: 34px;
            width: 34px;
            font-size: 27px;
            line-height: 33px;
            cursor: pointer;
            
            &:hover {
                background-color: rgba($primary-text-color, 0.85);
            }
        }

        .swiper-button-next {
            padding-left: 12px;
        }

        .swiper-button-prev {
            padding-left: 9px;
        }
    }

    &.gallery-thumbs {
        box-sizing: border-box;
        padding: 5px 0;
        width: 740px;
        max-width: 100%;
        margin-left: initial;
        height: 76px;

        .swiper-slide {
            border: 1px solid $light-silver;
            background-color: $light-silver;
            width: 108px;
            height: 65px;
            opacity: 0.4;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            text-align: center;
            max-width: 100%;
            cursor: pointer;
        }

        .swiper-slide-active {
            opacity: 1;
            -webkit-filter: none; /* Safari 6.0 - 9.0 */
            filter: none;
        }
    }
}