@import '../../core/mixin.scss';

[data-head] {
   
    nav{
      
    }
}


@media(min-width: 1025px) {
    ._zDocActive {
        position: fixed;
        width: 100%;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-name: moveInDown;
        background-color: white;

        nav:first-child, [extra-header], [data-search-bar-container] {
            display: none;
        }
    }
}