@import '../../core/_variable.scss';

@keyframes lds-ripple {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 18px;
        left: 18px;
        width: 156px;
        height: 156px;
        opacity: 0;
    }
}

@-webkit-keyframes lds-ripple {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 18px;
        left: 18px;
        width: 156px;
        height: 156px;
        opacity: 0;
    }
}

.lds-ripple {
    position: relative;
}

.lds-ripple div {
    box-sizing: content-box;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(1) {
    border-color: #0099e5;
}

.lds-ripple div:nth-child(2) {
    border-color: #ff4c4c;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.lds-ripple {
    width: 40px !important;
    height: 40px !important;
    -webkit-transform: translate(-20px, -20px) scale(0.2) translate(20px, 20px);
    transform: translate(-20px, -20px) scale(0.2) translate(20px, 20px);
}

[data-container-search-bar] {
    height: 105px;
    padding-top: 55px;

    label {
        padding: 15px;
    }

    [data-container-search] {
        width: auto;

        #frmHearderSearch {
            width: 400px;

            input {
                z-index: 11 !important;
                border: 2px solid $primary-color;
                padding-left: 25px;
                padding-top: 3px;
                font-family: "Poppins", sans-serif;
                position: relative;
                border-radius: 30px;
                box-shadow: none;
                background-color: transparent !important;
            }

            #btnSearchProductName {
                .lds-ripple {
                    position: absolute;
                    display: none;
                    top: 0;
                    right: 0;
                    height: 50px !important;
                    padding: 24px;
                }

                &.active {
                    .lds-ripple {
                        display: block;
                    }

                    .fa {
                        display: none;
                    }
                }
            }
        }

        #frmHearderSearch.showResult {
            input {
                border: 2px solid transparent !important;
            }
        }
    }
}


#frmHearderSearch {
    .autocomplete-suggestions {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #FFF;
        cursor: default;
        overflow: auto;
        border: 2px solid $primary-color-dark;
        top: 0;
        padding-top: 45px;
        border-radius: 25px;
        z-index: 10 !important;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
        transition: height 0.5s;
    }

    .autocomplete-suggestion {
        border-bottom: 1px solid $silver-smoke;
        white-space: nowrap;
        overflow: hidden;
        transition: background 0.2s;
        padding: 5px;

        [data-product-name] {
            vertical-align: top;
            padding: 12px 5px 0 5px;
            display: inline-block;
            color: $secondary-text-color
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .autocomplete-no-suggestion {
        padding: 10px;
        color: $secondary-text-color;
    }

    .autocomplete-selected {
        background: $light-silver;

        [data-product-name] {
            color: black;
            font-weight: bold;
        }
    }
}


[data-btn-search] {
    height: 100%;
    padding: 0 15px !important;   
    top: 0;
    right: 0;
    font-size: 19px;
    color: $primary-color;
    z-index: 11;
    &.active {
        visibility: visible;
        font-size: 8px !important;
        padding-right: 15px;
        right: 8px;
        top: 0;

        .fa {
            -webkit-animation: fa-spin 0.7s infinite linear;
            animation: fa-spin 0.7s infinite linear;

            &:after {
                opacity: 1;
                visibility: visible;
                animation: load-spin 450ms infinite linear;
                -webkit-animation: load-spin 450ms infinite linear;
                transition: opacity .2s ease,visibility .2s ease;
                -webkit-transition: opacity .2s ease,visibility .2s ease;
            }

            &:before {
                display: none;
                opacity: 0;
            }
        }
    }
}

spinLoading {
    opacity: 1;
    visibility: visible;
    animation: load-spin 450ms infinite linear;
    -webkit-animation: load-spin 450ms infinite linear;
    transition: opacity .2s ease,visibility .2s ease;
    -webkit-transition: opacity .2s ease,visibility .2s ease;
}

@media (max-width: 1024px) {
    [data-container-search-bar] {
        padding: 10px 0;
        text-align: center;
        height: auto;

        [data-container-search] {
            width: 90%;

            #frmHearderSearch {
                width: 100%;
                &.showResult {
                    input {
                        background-color: transparent !important;
                    }
                }

                input {
                    background-color: white !important;
                }
            }
        }
    }
}
