@import '../../core/_variable.scss';
/*https: //codepen.io/fskirschbaum/pen/MYJNaj*/



._p-product-widget-row {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 15px;

    [data-product-widget-image-container] {
        text-align: center;

        img {
            width: auto;
            height: auto;
        }
    }

    [data-description] {
        max-height: 75px;
        overflow-y: hidden;
    }
}

._p-product-widget {
    display: inline-block;
    position: relative;
    width: 262px;
    vertical-align: top;
    height: 500px;
    border-radius: 20px;

    [data-product-widget-image-container] {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
    }

    ._badges {
        position: absolute;
        top: 10px;
        left: -7px;
    }

    [data-widget-bottom] {
        text-align: center;

        [data-product-name] {
            height: 50px;

            h4 {
                font-size: 24px;
                font-weight: 300;
                line-height: 30px;
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }

        [data-product-widget-action-container] {
            [data-row1] {
                padding: 10px;
                text-align: center;
                color: $primary-color-dark;
                font-family: $font-header;
            }

            [data-row2] {
                a {
                    color: black;

                    &:hover {
                        color: $primary-color-dark;
                    }
                }

                [data-product-id] {
                    margin: 0;
                    padding: 5px 10px;
                }
            }

            [data-row3] {
                padding: 0 15px;
            }
        }
    }

    [data-product-widget-image-container] {
        background-image: url('https://cdn.jsdelivr.net/gh/ryshin-commerce/img@master/images/icons/shap-small-min.png');
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-color: rgba(255, 204, 0, 0.1);
    }

    &:hover {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
    }
}

._p-product-widget, [data-flash-sale-detail] {
    &[data-flash-sale-large] {
        width: 400px;
        max-width: 100%;

        [data-is-hot] {
        }

        [data-count] {
            font-size: inherit;
            line-height: inherit;
        }

        progress[value] {
            height: 18px;
        }

        progress[value]::-webkit-progress-bar {
        }

        progress[value]::-webkit-progress-value {
            min-width: 18px;
        }

        [data-is-hot]:before {
            background-image: url(/images/icons/fire-process-bar-22-min.png);
            width: 22px;
            height: 40px;
            top: -7px;
            left: -2px;
        }
    }

    [data-count] {     
        font-size: 11px;
        padding-top: 1px;
        position: absolute;
        top: 4px;
        text-align: center;
        width: 100%;
    }

    [data-is-hot] {
        position: relative;

        &:before {
            /* background-color: red; */
            background-image: url(/images/icons/fire-process-bar-15-min.png);
            background-size: 100%;
            /* height: 100px; */
            background-repeat: no-repeat;
            position: absolute;
            width: 15px;
            height: 17px;
            top: -5px;
            left: -1px;
            content: "";
        }
    }

    progress[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 12px;
    }

    progress[value]::-webkit-progress-bar {
        background-color: #fdccd9;
        border-radius: 20px;
        box-shadow: 0 2px 5px #fba0b873 inset;
    }

    progress[value]::-webkit-progress-value {
        background: rgb(255,0,0);
        min-width: 12px;
        background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(252,176,69,1) 100%);
        border-radius: 20px;
    }
}


@media (max-width: 1024px) {
    [data-product-id] {
        text-align: center;
    }
}
