@import '../../CommerceDefault/core/mixin.scss';

[data-container-header-category] {
    ul {
        > li[data-first-li] {
            padding: 15px 11px;
            text-transform: uppercase;
            color: #6b7a83;
            font-weight: 600;
            margin-right: 6px;

            &:hover, &.active {
                a, i {
                    color: #08c;
                }
            }

            a {
                color: #6b7a83;
            }

            i {
                font-weight: bold;
            }

            [data-selector-childs] {
                &._list-col-2 {
                    ul {
                        columns: 2;
                        -webkit-columns: 2;
                        -moz-columns: 2;
                    }
                }

                [data-content] {
                    padding: 10px 10px 10px 0px;
                    position: relative;

                    &._padding-right-200 {
                        padding-right: 200px;
                    }
                }

                top: 50px;
                left: 0;
                background-color: #fff;
                position: absolute !important;
                z-index: 10;
                min-width: 100%;

                @include arrow-box(top,8px,white,0px,transparent,350px,20px);
                box-shadow: 0 5px 8px rgba(0,0,0,.15);
                animation-timing-function: ease-in;
                animation-duration: 0.3s;
                animation-fill-mode: both;
                animation-name: fadeInUp;

                img {
                    width: 200px;
                    height: auto;
                    z-index: -1;
                }

                li {
                    padding: 10px 20px;
                    display: block;
                    float: initial;
                    margin: 0;
                    overflow: hidden;

                    a {
                        display: inline-block;
                        white-space: nowrap;
                    }

                    &:hover {
                        a {
                            text-decoration: underline;
                        }
                    }
                }

                a {
                    color: $secondary-text-color !important;
                }
            }
        }

        [data-selector-news-menu] {
            position: absolute;
            display: none;
            left: 0;
            max-height: 0;
            background-color: $silver-smoke;
            top: 50px;
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);

            [data-news-nav] {
                position: absolute;
                top: 0;
                right: 0;

                a:hover {
                    font-weight: bold;
                }
            }

            a {
                color: $color-text !important;
                font-weight: normal;

                &:hover, &.active {
                    color: black !important;
                }
            }

            ul {
                li {
                    padding: 10px;
                    margin-left: 10px;
                    margin-right: 0;
                }
            }
        }
    }

    [data-news] {
        float: right !important;

        &:hover {
            [data-selector-news-menu] {
                overflow: hidden;
            }
        }
    }

    #chkShowHideFirstCategories:checked ~ ul [data-news] {
        background: white !important;

        [data-selector-news-menu] {
            .wrapper1280 {
                background-color: $silver-smoke;
            }
        }
    }


    #chkShowHideFirstCategories:checked ~ ul [data-news], [data-news]:hover {
        background-color: $light-silver;
        color: black;
        -webkit-box-shadow: inset 0 9px 22px -10px rgba(0,0,0,.25);
        box-shadow: inset 0 9px 22px -10px rgba(0,0,0,.25);
        background-image: none !important;



        [data-selector-news-menu] {
            max-height: 1000px;
            z-index: 8;
            left: -1px;
            right: -1px;
            display: block;

            .wrapper1280 {
                background-color: $light-silver;
                margin-bottom: 10px;
            }
        }
    }
}

[data-main-section].showNewsMenu {
    margin-top: 281px;

    [data-selector-news-menu] {
        .wrapper1280 {
            background-color: white;
        }
    }
}


._zDocActive {
    position: fixed;
    background-color: white;
    z-index: 10;
    background: rgba(255,255,255,0.95);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.11);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.11);
    box-shadow: 0 1px 3px rgba(0,0,0,0.11);
    transition: all .4s ease;


    [data-item-1] {
        height: 0;
        padding: 0;
        position: absolute;
        top: 10px;

        a {

            img {
                height: 45px;
                width: auto;
                transition: all .4s ease;
            }
        }
    }

    [data-item-2], [data-item-3] {
        display: none;
    }

    [data-container-header-category] {
        padding-left: 130px;

        ul {
            > li[data-first-li] {
                padding: 22px 14px;
                background-color: transparent;

                a, i, label {
                    color: white;
                }

                [data-selector-childs], [data-selector-news-menu] {
                    top: 63px;
                }
            }
        }
    }

    ._fill-white-smoke {
        background-color: #0088cced;
    }
}

@media (max-width: 1024px) {
    ._model-show {
        overflow: hidden;

        [data-head] {
            height: 500vh;
        }
    }

    [data-container-header-category] {

        ul {
            &[data-user-loged-in="False"] {
                max-height: calc(100vh - 103px);
            }

            &[data-user-loged-in="True"] {
                max-height: calc(100vh - 210px);
            }

            overflow-y: scroll !important;

            [data-container-logo] {
            }


            > li[data-first-li] {
                color: $primary-text-color;
                padding: 0;
                margin: 0;

                a {
                    padding: 10px;
                    display: inline-block;
                    color: $primary-text-color;
                }

                i {
                    top: 0;
                }

                &:hover {
                    background-image: none;
                    box-shadow: unset;
                }

                [data-selector-childs] {
                    display: none;
                    position: initial !important;
                    box-shadow: none;

                    &:before, &:after {
                        display: none;
                    }

                    li {
                        list-style: disc;
                        padding: 0 !important;
                        margin-left: 25px;
                        border-left: 1px dashed silver;

                        a {
                            padding: 7px 15px;
                        }
                    }
                }


                input[type=checkbox]:checked {
                    ~ [data-selector-childs] {
                        display: block;

                        li {
                            padding: 10px;
                            padding-left: 25px;
                            text-transform: capitalize;
                        }
                    }

                    ~ label {
                        transform: rotate(-180deg);
                        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
                    }
                }
            }

            [data-selector-news-menu] {

                [data-news-nav] {
                    float: right;

                    a:hover {
                    }
                }

                a {
                    &:hover, &.active {
                    }
                }

                ul {
                    li {
                    }
                }
            }
        }

        [data-news] {
            li {
                a {
                    text-align: center;
                    width: 100%;
                }
            }

            &:hover {
                [data-selector-news-menu] {
                }
            }
        }

        #chkShowHideFirstCategories:checked ~ ul [data-news] {
            [data-selector-news-menu] {
                .wrapper1280 {
                }
            }
        }


        #chkShowHideFirstCategories:checked ~ ul [data-news], [data-news]:hover {
            [data-selector-news-menu] {
                .wrapper1280 {
                }
            }
        }
    }
}
