@import '../core/_variable.scss';


[data-container-search-bar] {
    height: 105px;
    padding-top: 35px;

    label{
        padding: 15px;
    }

    [data-container-call] {
        a {
            color: $primary-color;
            font-weight: bold;

            i {
                font-size: 24px;
                color: $primary-color;
                display: block;
                width: 38px;
                height: 38px;
                line-height: 34px;
                border: 2px solid;
                text-align: center;
                margin: 0 auto;
                border-radius: 50%;
            }
        }
    }

    [data-container-search] {
        width: auto;

        #frmHearderSearch {
            width: 400px;

            input {
                &:focus, &:hover {
                    border: 2px solid $primary-color;
                    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
                }
                /*border: 2px solid $primary-color;*/
                padding-left: 25px;
            }
        }
    }
}


.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF;
    cursor: default;
    overflow: auto;
    /*border: 2px solid red;*/
    top: 0;
    padding-top: 45px;
    border-radius: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    z-index: -1 !important;
    border-top: none;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
}

.autocomplete-suggestion {
    border-bottom: 1px solid $silver-smoke;
    white-space: nowrap;
    overflow: hidden;
    transition: background 0.2s;
    padding: 5px;

    [data-product-name] {
        vertical-align: top;
        padding: 12px 5px 0 5px;
        display: inline-block;
        color: $secondary-text-color
    }

    &:last-child {
        border-bottom: none;
    }
}

.autocomplete-no-suggestion {
    padding: 10px;
    color: $secondary-text-color;
}

.autocomplete-selected {
    background: $light-silver;

    [data-product-name] {
        color: black;
        font-weight: bold;
    }
}

[data-btn-search] {
    height: 100%;
    padding: 0 15px !important;
    border-left: 1px solid silver !important;
    top: 0;
    right: 0;
    font-size: 19px;
    color: #606669;

    &.active {
        visibility: visible;
        font-size: 8px !important;
        padding-right: 15px;
        right: 8px;
        top: 0;

        .fa {
            -webkit-animation: fa-spin 0.7s infinite linear;
            animation: fa-spin 0.7s infinite linear;

            &:after {
                opacity: 1;
                visibility: visible;
                animation: load-spin 450ms infinite linear;
                -webkit-animation: load-spin 450ms infinite linear;
                transition: opacity .2s ease,visibility .2s ease;
                -webkit-transition: opacity .2s ease,visibility .2s ease;
            }

            &:before {
                display: none;
                opacity: 0;
            }
        }
    }
}

spinLoading {
    opacity: 1;
    visibility: visible;
    animation: load-spin 450ms infinite linear;
    -webkit-animation: load-spin 450ms infinite linear;
    transition: opacity .2s ease,visibility .2s ease;
    -webkit-transition: opacity .2s ease,visibility .2s ease;
}

@media (max-width: 1024px) {
    .autocomplete-suggestions {
        border: 1px solid $primary-color;
        top: 41px;
        border-top: none !important;
        text-align: left;
    }

    [data-container-search-bar] {
        padding: 0;
        height: auto !important;

        div {
            margin: 0;
        }

        [data-container-search] {
            max-width: 300px;
            right: 40px;

            #frmHearderSearch {
                width: 50px;
                padding: 11px;
                max-width: 100%;
                background-color: white !important;

                input {
                    border-radius: 0;
                    border: 1px solid transparent;
                    padding-left: 15px;
                }

                label[for], #btnSearchProductName {
                    right: 0px;
                    background-color: white;
                    width: auto;
                    font-size: 22px;
                    border: none;
                    position: absolute;
                    top: 0;
                    z-index: 10;
                    margin: 0;
                    margin-top: 5px;
                }

                label[for] {
                    padding: 5px 15px !important;
                }

                #btnSearchProductName {
                    margin-top: 10px;
                    margin-right: 8px;
                    padding: 5px 7px !important;
                    right: 0;
                    border-left: none !important;
                }

                [data-btn-search] {
                    height: auto;


                    &.active {
                        font-size: 8px !important;
                        padding-right: 15px;
                    }
                }
            }

            #chkShowHideSearchForm:checked {

                ~ #frmHearderSearch {
                    width: 300px;

                    [name="query"] {
                        border: 1px solid $primary-color;
                    }

                    label[for] {
                        display: none;
                    }
                }
            }
        }
    }
}
