@import '../core/_variable.scss';

[data-value-slugify="tim"] {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    content: "";
    height: 100%;
    background-color: mediumpurple;
}

[data-value-slugify="hong"] {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    content: "";
    height: 100%;
    background-color: hotpink;
}

[data-value-slugify="trang"] {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    content: "";
    height: 100%;
    background-color: white;
}

[data-value-slugify="xanh-duong"] {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    content: "";
    height: 100%;
    background-color: dodgerblue;
}

[data-value-slugify="xanh-la"] {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    content: "";
    height: 100%;
    background-color: greenyellow;
}