/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
.breadcrumb > li + li:before {
  color: black; }

._dock-left {
  position: absolute;
  height: calc(100% - 500px);
  z-index: 10; }

._dock-right {
  position: absolute;
  height: calc(100% - 500px);
  z-index: 1;
  z-index: 10; }

[data-main-section] > header {
  padding: 50px 0; }

[data-main-section] [data-page-content] [data-col-left] {
  min-height: 1500px; }

[data-main-section] [data-background] {
  position: absolute;
  width: 100%;
  height: 184px;
  overflow: hidden;
  left: -1px;
  right: -1px; }

[data-main-section] [data-subscribe-container], [data-main-section] [data-tags-container], [data-main-section] [data-news-category] {
  border-radius: 20px; }

[data-main-section] a {
  color: black; }

[data-main-section] [data-news-category] ul {
  padding-left: 15px;
  margin-left: 5px; }
  [data-main-section] [data-news-category] ul [data-childs] ul {
    border-left: 1px dashed silver; }
  [data-main-section] [data-news-category] ul li {
    position: relative; }
    [data-main-section] [data-news-category] ul li [data-text] a, [data-main-section] [data-news-category] ul li [data-text] span {
      padding-top: 10px;
      padding-bottom: 10px;
      display: inline-block;
      color: black; }
      [data-main-section] [data-news-category] ul li [data-text] a:hover, [data-main-section] [data-news-category] ul li [data-text] a.active, [data-main-section] [data-news-category] ul li [data-text] span:hover, [data-main-section] [data-news-category] ul li [data-text] span.active {
        color: #FCC20D; }
    [data-main-section] [data-news-category] ul li [data-show-hide]:checked ~ label .fa-stack {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    [data-main-section] [data-news-category] ul li [data-show-hide]:checked ~ [data-childs].hide {
      display: block !important; }
    [data-main-section] [data-news-category] ul li label .fa-stack {
      margin-top: 7px;
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition: -webkit-transform .3s ease-in-out;
      -o-transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
    [data-main-section] [data-news-category] ul li label:hover i.fa-circle {
      color: #f6f6f6 !important; }
    [data-main-section] [data-news-category] ul li label .fa-angle-up {
      line-height: 29px; }

@media (max-width: 1024px) {
  [data-page-content] img, [data-background] img {
    height: auto; } }
