/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
#sortBy1:checked ~ [for="sortBy1"], #sortBy2:checked ~ [for="sortBy2"], #sortBy3:checked ~ [for="sortBy3"] {
  background-color: #fbf000; }

[data-black-row] {
  padding: 0 !important;
  background-color: transparent !important;
  max-height: 350px;
  position: relative; }
  [data-black-row] [category-name] {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 62px; }
    [data-black-row] [category-name] h1 {
      display: inline-block; }
      [data-black-row] [category-name] h1 ._text-sm {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px; }
    [data-black-row] [category-name] .hover-children-show:hover .hide, [data-black-row] [category-name] .hover-show:hover, [data-black-row] [category-name] .show {
      display: inline-block !important; }
    [data-black-row] [category-name] [data-parent-category] {
      display: inline-block;
      position: relative;
      top: 7px;
      padding-right: 20px; }
      [data-black-row] [category-name] [data-parent-category] span {
        vertical-align: middle; }
      [data-black-row] [category-name] [data-parent-category] i {
        display: inline-block;
        vertical-align: middle; }
  [data-black-row] [data-background] {
    height: 350px;
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px; }
  [data-black-row] img {
    -webkit-filter: blur(0px) brightness(46%);
            filter: blur(0px) brightness(46%);
    width: 100%; }
  [data-black-row] h1 {
    color: white;
    font-size: 50px;
    line-height: 75px; }

._dock-left {
  position: absolute;
  height: calc(100% - 500px);
  z-index: 10; }

._dock-right {
  position: absolute;
  height: calc(100% - 500px);
  z-index: 10;
  right: 0; }

._id-description img {
  max-width: 100%; }

#readMore:checked + ._id-description {
  max-height: 10000px; }
  #readMore:checked + ._id-description ._id-readmore-container {
    display: none; }

._id-description {
  max-height: 300px;
  overflow: hidden; }

._id-readmore-container {
  width: calc(100% - 40px);
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(18%, white), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, white 0%, white 18%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, white 0%, white 18%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, white 0%, white 18%, rgba(255, 255, 255, 0) 100%); }

fieldset._id-nouirange {
  border: none; }
  fieldset._id-nouirange .noUi-tooltip {
    border: none;
    top: 12px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  fieldset._id-nouirange .noUi-horizontal {
    height: 4px; }
    fieldset._id-nouirange .noUi-horizontal .noUi-connects {
      background: whitesmoke; }
      fieldset._id-nouirange .noUi-horizontal .noUi-connects .noUi-connect {
        background: #FCC20D; }
  fieldset._id-nouirange .noUi-handle {
    height: 12px !important;
    width: 12px !important;
    top: -5px !important;
    right: -7px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #FCC20D;
    cursor: e-resize;
    border-radius: 10px;
    border: none; }
    fieldset._id-nouirange .noUi-handle:before, fieldset._id-nouirange .noUi-handle:after {
      display: none; }

[data-nav-section] {
  padding-bottom: 25px; }
  [data-nav-section] [data-selector-slider] {
    padding-left: 12px;
    padding-right: 60px; }

._id-categoryList [data-name]:hover {
  color: #FCC20D; }

._id-categoryList label {
  position: absolute;
  right: 0;
  top: -5px; }
  ._id-categoryList label .fa-stack {
    top: -32px; }

._id-categoryList ._id-categoryList .row {
  padding-left: 20px; }

._id-categoryList ul li .row {
  border-bottom: 1px dashed lightgray;
  padding: 10px 0; }
  ._id-categoryList ul li .row [data-selected-item] {
    font-weight: bold; }
    ._id-categoryList ul li .row [data-selected-item] [data-name] {
      color: #FCC20D; }

[data-css-classification] [data-attribute-info] {
  display: inline-block;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 43px;
  padding-right: 15px;
  margin-right: 20px; }
  [data-css-classification] [data-attribute-info] [data-attribute-style] {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle; }
  [data-css-classification] [data-attribute-info] [data-attribute-value] {
    vertical-align: middle; }

input[type=checkbox]:checked + [data-css-classification] [data-attribute-info] {
  background-color: #FCC20D; }

ul > li input:checked ~ label [data-name] {
  font-weight: bold;
  color: black; }

[data-show-hide] ~ [data-menu] {
  display: none; }

[data-show-hide] ~ label .fa-stack {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  -o-transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out; }
  [data-show-hide] ~ label .fa-stack .fa-angle-up {
    line-height: 24px; }

[data-show-hide]:checked ~ label .fa-stack {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  [data-show-hide]:checked ~ label .fa-stack .fa-circle {
    color: whitesmoke !important; }

[data-show-hide]:checked ~ [data-menu] {
  display: block; }

._id-listProductPagings ._flex-container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  ._id-listProductPagings ._flex-container ._p-product-widget {
    margin-bottom: 40px; }

._id-listProduct {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center; }
  ._id-listProduct ._p-product-widget {
    margin: 20px;
    margin-bottom: 40px; }

@media (max-width: 1024px) {
  #filterModel ._modal-content {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    padding-bottom: 35px; }
  [data-sort-filter] {
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 0;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19); }
    [data-sort-filter] button {
      font-size: 15px !important; }
      [data-sort-filter] button:first-child {
        border-right: 1px solid silver; }
  [data-black-row] img {
    height: auto; } }
