/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

main ._btn-back-top {
  opacity: .4;
  margin: 20px;
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 40px !important;
  line-height: 32px !important;
  height: 40px !important;
  z-index: 9;
  font-size: 24px !important;
  background-color: #fcc20d;
  color: white; }
  main ._btn-back-top:hover {
    opacity: 0.8; }

[data-menu-right] {
  position: absolute;
  right: 0;
  top: 0; }
  [data-menu-right] [data-container-user-controls], [data-menu-right] [data-container-cart] {
    display: inline-block; }
    [data-menu-right] [data-container-user-controls] > ul > li, [data-menu-right] [data-container-cart] > ul > li {
      position: relative; }
      [data-menu-right] [data-container-user-controls] > ul > li > i, [data-menu-right] [data-container-user-controls] > ul > li > a i, [data-menu-right] [data-container-cart] > ul > li > i, [data-menu-right] [data-container-cart] > ul > li > a i {
        font-size: 1.5em;
        position: absolute;
        left: -13px;
        top: 15px; }
      [data-menu-right] [data-container-user-controls] > ul > li [data-cart-item], [data-menu-right] [data-container-cart] > ul > li [data-cart-item] {
        position: absolute;
        top: -6px;
        font-size: 11px;
        width: 19px;
        right: -9px; }
    [data-menu-right] [data-container-user-controls] > ul > li:last-child, [data-menu-right] [data-container-cart] > ul > li:last-child {
      margin: 0;
      padding-left: 20px; }
    [data-menu-right] [data-container-user-controls] > ul > li:first-child, [data-menu-right] [data-container-cart] > ul > li:first-child {
      text-align: center;
      cursor: pointer;
      margin-right: 20px; }
      [data-menu-right] [data-container-user-controls] > ul > li:first-child p, [data-menu-right] [data-container-cart] > ul > li:first-child p {
        font-size: 12px; }

#productViewedContainer {
  display: table;
  border-spacing: 5px; }
  #productViewedContainer a {
    height: 136px;
    display: table-cell; }
    #productViewedContainer a:hover {
      border-color: #FCC20D !important; }
    #productViewedContainer a img {
      vertical-align: middle; }

[data-user-controls] {
  position: absolute;
  top: 0;
  right: 0; }

._model-show {
  overflow: hidden; }

#showHideCheckingOrder:checked ~ [data-checking-container] {
  right: 0;
  top: 40px;
  display: block !important; }

#showHideCheckingOrder:checked ~ [for=showHideCheckingOrder] {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0.18))) !important;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)) !important;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)) !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)) !important; }

body header nav ul li a {
  padding-top: 7px; }

footer {
  padding-top: 20px; }
  footer [data-row-1] [data-col-1] h2 {
    padding: 20px 0;
    line-height: 30px; }
  footer [data-row-1] h3 {
    padding-top: 40px; }
  footer [data-row-1] [data-col-2] {
    padding: 0 10px 10px 10px; }
    footer [data-row-1] [data-col-2] ul li {
      white-space: nowrap; }
      footer [data-row-1] [data-col-2] ul li .fa {
        width: 25px; }
    footer [data-row-1] [data-col-2] [data-group-info] {
      vertical-align: text-top;
      display: inline-block; }
  footer [data-row-1] h3, footer [data-row-link] h3 {
    padding-bottom: 20px; }
  footer [data-row-link] {
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  footer [data-row-register] {
    padding: 10px 0; }

@media (max-width: 1024px) {
  #main {
    overflow: hidden; }
  #productViewedContainer a {
    height: auto; }
  body > header {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19);
    background-color: #fffffff2 !important;
    z-index: 10;
    padding: 0 !important; }
  [data-container-cart] {
    position: absolute;
    right: 0;
    top: -5px; }
    [data-container-cart] li:last-child {
      right: 40px; }
  [data-btn-show-menu] {
    top: 15px;
    right: 15px;
    position: absolute; }
  header ._b-burger-container {
    left: 15px;
    top: 20px; }
  header h1 {
    text-align: center; }
  footer h2, footer h3 {
    text-align: center; }
  footer address {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; } }
