/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
body > header {
  background-color: rgba(97, 97, 97, 0.45);
  padding-bottom: 25px; }

[data-lv2] header {
  width: 147px; }
  [data-lv2] header h3 {
    line-height: 20px; }

[data-list-post-flex] {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  [data-list-post-flex] [data-post-item] {
    width: 262px;
    margin: 20px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: white; }
    [data-list-post-flex] [data-post-item]:hover {
      -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
              box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }

._id-listProduct {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px; }

[data-section-1], [data-section-2], [data-related-product], [data-related-post] {
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  overflow: hidden; }
  [data-section-1] a, [data-section-2] a, [data-related-product] a, [data-related-post] a {
    color: black; }
    [data-section-1] a:hover, [data-section-2] a:hover, [data-related-product] a:hover, [data-related-post] a:hover {
      color: #FCC20D; }

[data-section-2] {
  padding-bottom: 10px; }
