@import '../../core/_variable.scss';
[data-cart-container] {
    [data-classification-id] {
        position: relative;
        border-bottom: 1px solid whitesmoke;
        padding: 10px;

        img {
            width: 55px;
        }

        [data-container-shoppingcart-right] {
            display: inline-block;
            width: calc(100% - 60px);
            vertical-align: top;

            h5 {
                font-size: 16px;
                overflow: hidden;
                padding-bottom: 5px;
            }

            dl {

                [data-gift] {
                    background-color: $silver-smoke-opa5;
                    font-style: italic;
                }

                dt {
                }
            }
        }
    }

    ._id-cartmodel {
        height: 100%;

        > ul {
            max-height: calc(100% - 152px);
            overflow-y: auto;
            overflow-x: hidden;
        }

        [data-container-shopping-cart-bottom] {
            position: absolute;
            bottom: 0;
        }
    }
}

/*._zflyImage {
    z-index: 1000;
    position: fixed;
    background: #fff;
    overflow: hidden;
    opacity: 1;
    transition: all 1s ease-in;  

    &._zfly {
        opacity: 0.2;
        width: 47px;
        height: 47px;
        box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.15);
        border-radius: 47px;
    }
}*/




@media (max-height: 800px) {
    [data-container] {
        header {
            padding: 10px;
        }
    }


    ._id-cartmodel {
        > ul {
            max-height: calc(100% - 212px);
        }

        [data-container-shopping-cart-bottom] {
            padding-bottom: 70px;
        }
    }
}
@media (max-height: 500px) {
    [data-container-shopping-cart-bottom] {
        display: none !important;
    }
}