@import '../../core/_variable.scss';
/*https: //codepen.io/fskirschbaum/pen/MYJNaj*/
[led-red] {
    margin: 0 auto;
    width: 4px;
    height: 4px;
    background-color: #F00;
    -webkit-animation: blinkRed 0.5s infinite;
    -moz-animation: blinkRed 0.5s infinite;
    -ms-animation: blinkRed 0.5s infinite;
    -o-animation: blinkRed 0.5s infinite;
    animation: blinkRed 0.5s infinite;
}

[data-subscribe-import-product], ._isSubscibedImport {  
    margin: 0;
    font-size: 10px !important;
    padding: 2px !important;
}
._isSubscibedImport {
    background-color: #e0edf6 !important;
    color: #0687db !important; 
    border-left: 2px solid #15a3ff !important;
    background-image: none !important;
    cursor: initial !important;
    border-radius: unset;
    border: none;
}

[data-flash-deal-count-down] {
}
[data-count] {
    position: absolute;
    font-size: 10px;
    text-align: center;
    width: 100%;
    line-height: 22px;
    z-index: 1;
}


._p-product-widget {
    width: 175px;
    display: inline-block;
    vertical-align: top;

    h4 {
        line-height: 20px;
        max-height: 55px;
        overflow: hidden;
    }

    [data-product-widget-image-container] {
        width: 175px;
        height: 175px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [data-product-widget-action-container] {
        height: 25px;

        > [data-row1], > [data-row2] {
            height: 25px;
            width: 100%;

            [data-subscribe], [data-subscribe-import], [data-subscribe-like] {
                margin: 0;
                font-size: 10px;
                padding: 2px;
                position: relative;
                top: -1px;
            }

            [data-subscribe-import], [data-subscribe-like] {
                display: inline-block !important;
            }
        }
    }
}

._p-product-widget, [data-flash-sale-detail] {
    &[data-flash-sale-large] {
        width:400px;
        max-width: 100%;
        [data-is-hot] {
        }

        [data-count] {
            font-size: inherit;
            line-height: inherit;
        }

        progress[value] {
            height: 18px;
        }

        progress[value]::-webkit-progress-bar {
        }

        progress[value]::-webkit-progress-value {
            min-width: 18px;
        }

        [data-is-hot]:before {
            background-image: url(/images/icons/fire-process-bar-22-min.png);
            width: 22px;
            height: 40px;
            top: -7px;
            left: -2px;
        }
    }

    [data-is-hot] {
        position: relative;

        &:before {
            /* background-color: red; */
            background-image: url(/images/icons/fire-process-bar-15-min.png);
            background-size: 100%;
            /* height: 100px; */
            background-repeat: no-repeat;
            position: absolute;
            width: 15px;
            height: 17px;
            top: -5px;
            left: -1px;
            content: "";
        }
    }

    progress[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 12px;
    }

    progress[value]::-webkit-progress-bar {
        background-color: #fdccd9;
        border-radius: 20px;
        box-shadow: 0 2px 5px #fba0b873 inset;
    }

    progress[value]::-webkit-progress-value {
        background: rgb(255,0,0);
        min-width: 12px;
        background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(252,176,69,1) 100%);
        border-radius: 20px;
    }
}


@media (max-width: 800px) {

    ._p-product-widget {
        [data-product-widget-action-container] {
            height: 50px;
            margin-bottom: 5px;

            > div {
                height: 25px !important;
                display: block;
                animation: none !important;
            }

            [data-row2] {
                margin-top: 25px;
                animation: none;
            }
        }
    }   
}