/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
@media (min-width: 1025px) {
  ._zDocActive {
    position: fixed;
    width: 100%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: moveInDown;
            animation-name: moveInDown;
    background-color: white; }
    ._zDocActive nav:first-child, ._zDocActive [extra-header], ._zDocActive [data-search-bar-container] {
      display: none; } }
