/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
[data-flash-sale] {
  border: 1px solid lightgray;
  border-top: 3px solid #fdd835; }
  [data-flash-sale] [data-flash-sale-head] {
    padding: 15px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px; }
  [data-flash-sale] [data-flashsale-item-container] {
    height: 580px; }
  [data-flash-sale] .swiper-button-next, [data-flash-sale] .swiper-button-prev {
    background-color: #d4d4d4;
    color: white;
    background-image: none !important;
    height: 50px;
    width: 25px;
    font-size: 27px;
    line-height: 33px;
    cursor: pointer;
    padding: 5px;
    padding-top: 10px;
    z-index: 9; }
    [data-flash-sale] .swiper-button-next:hover, [data-flash-sale] .swiper-button-prev:hover {
      background-color: #fcc20d; }
      [data-flash-sale] .swiper-button-next:hover svg, [data-flash-sale] .swiper-button-prev:hover svg {
        fill: #f5f5f5; }
  [data-flash-sale] .swiper-button-next {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0; }
  [data-flash-sale] .swiper-button-prev {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0; }
  [data-flash-sale] .swiper-button-disabled {
    display: none !important; }

@media (max-width: 1024px) {
  [data-flash-sale] {
    border-left: none;
    border-right: none; } }
