
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

._cursor-poiter
{
    cursor: pointer;
}

#maskBlack {
    display: none;
    opacity: 0;
    z-index: 11;
    position: fixed;
    width: 100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity .25s ease,visibility 0s ease .25s;

    &.visible {
        display: block;
        transition: opacity .25s ease,visibility 0s ease .25s;
        opacity: 1 !important;
    }
}

body {
    overflow-x: hidden;
}


[data-subscribe-import-product] {
    &._isSubscibed {
        display: block;
    }

    &._isSubscibedImport, &._isSubscibedFlashSale {
        display: none !important;
    }
}

@import 'core/_variable.scss';
@import 'core/_color.scss';
@import 'core/_tag_elements.scss';
@import 'core/_common.scss';
@import 'core/_button.scss';
@import 'core/_effect.scss';
@import 'core/_space.scss';
@import 'core/_text.scss';
@import 'core/_icon-fonts.scss';
@import 'core/thirdParty/_b_lazy.scss';
@import 'core/thirdParty/_modulr.scss';