@import '../core/_variable.scss';
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

._b-burger-container {
    position: absolute;  

    ._b-burger {
        width: 18px;
        height: 8px;
        position: relative;
        display: block;
        margin: -4px auto 0;
        top: 50%;

        ._b-bar {
            width: 100%;
            height: 1px;
            display: block;
            position: relative;
            background: black;
            transition: all 0.3s $cubic;
            transition-delay: 0s;
        }

        ._b-topBar {
            transform: translateY(0px) rotate(0deg);
        }

        ._b-btmBar {
            transform: translateY(6px) rotate(0deg);
        }
    } 
}

nav.active {
    [data-logo]{
        background-color:white;
    }
    background: $accent-color;
    ._b-burger-container ._b-burger {
        ._b-bar {
            transition: all 0.4s $cubic;
            transition-delay: 0.2s;

            &._b-topBar {
                transform: translateY(4px) rotate(45deg);
            }

            &._b-btmBar {
                transform: translateY(3px) rotate(-45deg);
            }
        }
    }
}


[data-mobile-menu] {
    height: 0;

    li {
        &:last-child {
            border-bottom: none;
        }

        border-bottom: 1px solid #33333338;
        margin-top: 5px;
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s $cubic, opacity 0.6s $cubic;

        a, span {
            display: block;
            position: relative;
            color: #FFF;
            font-weight: 100;
            text-decoration: none;
            font-size: 22px;
            line-height: 2.35;
            font-weight: 200;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    padding: 0 4% 0;
    text-align: justify;
    overflow: scroll;
    max-height: 100%;

    [data-level-1] ul {
        padding-left: 15px;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
nav.active {
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    width:100%;
    [data-mobile-menu] {
        height: auto;
        max-height: calc(100vh - 60px);

        li {
            transform: scale(1) translateY(0px);
            opacity: 1;
        }
    }
}