/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
[data-container-search-bar] {
  height: 105px;
  padding-top: 35px; }
  [data-container-search-bar] label {
    padding: 15px; }
  [data-container-search-bar] [data-container-call] a {
    color: #0188CC;
    font-weight: bold; }
    [data-container-search-bar] [data-container-call] a i {
      font-size: 24px;
      color: #0188CC;
      display: block;
      width: 38px;
      height: 38px;
      line-height: 34px;
      border: 2px solid;
      text-align: center;
      margin: 0 auto;
      border-radius: 50%; }
  [data-container-search-bar] [data-container-search] {
    width: auto; }
    [data-container-search-bar] [data-container-search] #frmHearderSearch {
      width: 400px; }
      [data-container-search-bar] [data-container-search] #frmHearderSearch input {
        /*border: 2px solid $primary-color;*/
        padding-left: 25px; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch input:focus, [data-container-search-bar] [data-container-search] #frmHearderSearch input:hover {
          border: 2px solid #0188CC;
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
                  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset; }

.autocomplete-suggestions {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  cursor: default;
  overflow: auto;
  /*border: 2px solid red;*/
  top: 0;
  padding-top: 45px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  z-index: -1 !important;
  border-top: none;
  -webkit-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s; }

.autocomplete-suggestion {
  border-bottom: 1px solid #f6f6f6;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  padding: 5px; }
  .autocomplete-suggestion [data-product-name] {
    vertical-align: top;
    padding: 12px 5px 0 5px;
    display: inline-block;
    color: #757575; }
  .autocomplete-suggestion:last-child {
    border-bottom: none; }

.autocomplete-no-suggestion {
  padding: 10px;
  color: #757575; }

.autocomplete-selected {
  background: #f5f5f5; }
  .autocomplete-selected [data-product-name] {
    color: black;
    font-weight: bold; }

[data-btn-search] {
  height: 100%;
  padding: 0 15px !important;
  border-left: 1px solid silver !important;
  top: 0;
  right: 0;
  font-size: 19px;
  color: #606669; }
  [data-btn-search].active {
    visibility: visible;
    font-size: 8px !important;
    padding-right: 15px;
    right: 8px;
    top: 0; }
    [data-btn-search].active .fa {
      -webkit-animation: fa-spin 0.7s infinite linear;
      animation: fa-spin 0.7s infinite linear; }
      [data-btn-search].active .fa:after {
        opacity: 1;
        visibility: visible;
        animation: load-spin 450ms infinite linear;
        -webkit-animation: load-spin 450ms infinite linear;
        -o-transition: opacity .2s ease,visibility .2s ease;
        transition: opacity .2s ease,visibility .2s ease;
        -webkit-transition: opacity .2s ease,visibility .2s ease; }
      [data-btn-search].active .fa:before {
        display: none;
        opacity: 0; }

spinLoading {
  opacity: 1;
  visibility: visible;
  animation: load-spin 450ms infinite linear;
  -webkit-animation: load-spin 450ms infinite linear;
  -o-transition: opacity .2s ease,visibility .2s ease;
  transition: opacity .2s ease,visibility .2s ease;
  -webkit-transition: opacity .2s ease,visibility .2s ease; }

@media (max-width: 1024px) {
  .autocomplete-suggestions {
    border: 1px solid #0188CC;
    top: 41px;
    border-top: none !important;
    text-align: left; }
  [data-container-search-bar] {
    padding: 0;
    height: auto !important; }
    [data-container-search-bar] div {
      margin: 0; }
    [data-container-search-bar] [data-container-search] {
      max-width: 300px;
      right: 40px; }
      [data-container-search-bar] [data-container-search] #frmHearderSearch {
        width: 50px;
        padding: 11px;
        max-width: 100%;
        background-color: white !important; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch input {
          border-radius: 0;
          border: 1px solid transparent;
          padding-left: 15px; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch label[for], [data-container-search-bar] [data-container-search] #frmHearderSearch #btnSearchProductName {
          right: 0px;
          background-color: white;
          width: auto;
          font-size: 22px;
          border: none;
          position: absolute;
          top: 0;
          z-index: 10;
          margin: 0;
          margin-top: 5px; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch label[for] {
          padding: 5px 15px !important; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch #btnSearchProductName {
          margin-top: 10px;
          margin-right: 8px;
          padding: 5px 7px !important;
          right: 0;
          border-left: none !important; }
        [data-container-search-bar] [data-container-search] #frmHearderSearch [data-btn-search] {
          height: auto; }
          [data-container-search-bar] [data-container-search] #frmHearderSearch [data-btn-search].active {
            font-size: 8px !important;
            padding-right: 15px; }
      [data-container-search-bar] [data-container-search] #chkShowHideSearchForm:checked ~ #frmHearderSearch {
        width: 300px; }
        [data-container-search-bar] [data-container-search] #chkShowHideSearchForm:checked ~ #frmHearderSearch [name="query"] {
          border: 1px solid #0188CC; }
        [data-container-search-bar] [data-container-search] #chkShowHideSearchForm:checked ~ #frmHearderSearch label[for] {
          display: none; } }
