/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
[data-container-header-category] {
  display: inline-block; }
  [data-container-header-category] ul > li[data-first-li] {
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 6px; }
    [data-container-header-category] ul > li[data-first-li] [data-category-icon] {
      display: none; }
    [data-container-header-category] ul > li[data-first-li] a {
      color: white; }
    [data-container-header-category] ul > li[data-first-li]:hover, [data-container-header-category] ul > li[data-first-li].active {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0.18)));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
      background-image: -o-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
      background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
      -webkit-box-shadow: inset 0 9px 22px -10px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0 9px 22px -10px rgba(0, 0, 0, 0.25); }
    [data-container-header-category] ul > li[data-first-li] [data-selector-childs] {
      border: 0 solid #212121;
      top: 39px;
      left: 0;
      background-color: #fff;
      position: absolute !important;
      z-index: 10;
      min-width: 100%;
      position: relative;
      background: white;
      border: 0px solid #212121;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-animation-duration: 0.6s;
              animation-duration: 0.6s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-name: scaleIn;
              animation-name: scaleIn; }
      [data-container-header-category] ul > li[data-first-li] [data-selector-childs]:after, [data-container-header-category] ul > li[data-first-li] [data-selector-childs]:before {
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }
      [data-container-header-category] ul > li[data-first-li] [data-selector-childs]:after {
        border-color: rgba(255, 255, 255, 0);
        border-width: 8px; }
      [data-container-header-category] ul > li[data-first-li] [data-selector-childs]:before {
        border-color: rgba(0, 0, 0, 0);
        border-width: 8px; }
      [data-container-header-category] ul > li[data-first-li] [data-selector-childs]:after, [data-container-header-category] ul > li[data-first-li] [data-selector-childs]:before {
        bottom: 100%;
        left: 20px; }
      [data-container-header-category] ul > li[data-first-li] [data-selector-childs]:after {
        border-bottom-color: white; }
      [data-container-header-category] ul > li[data-first-li] [data-selector-childs]:before {
        border-bottom-color: #212121; }
      [data-container-header-category] ul > li[data-first-li] [data-selector-childs] li {
        padding: 10px 20px;
        display: block;
        float: initial;
        margin: 0;
        overflow: hidden; }
        [data-container-header-category] ul > li[data-first-li] [data-selector-childs] li:hover {
          background-color: #f6f6f6; }
      [data-container-header-category] ul > li[data-first-li] [data-selector-childs] img {
        display: none !important; }
      [data-container-header-category] ul > li[data-first-li] [data-selector-childs] a {
        color: #212121 !important;
        white-space: nowrap; }
  [data-container-header-category] ul > li[data-all-category] {
    padding: 10px 30px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0.18)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
    background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
    -webkit-box-shadow: inset 0 9px 22px -10px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0 9px 22px -10px rgba(0, 0, 0, 0.25);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; }
    [data-container-header-category] ul > li[data-all-category]:hover [data-tree-item-container] {
      display: block !important; }
    [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] {
      top: 39px;
      left: 0;
      position: absolute !important;
      z-index: 10;
      min-width: 100%;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-animation-duration: 0.6s;
              animation-duration: 0.6s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-name: scaleIn;
              animation-name: scaleIn; }
      [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] {
        background-color: white;
        width: 100%; }
        [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] li[data-level="0"] {
          margin: 0;
          width: 100%; }
          [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] li[data-level="0"] [data-name] {
            display: block;
            float: initial;
            overflow: hidden;
            position: relative; }
            [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] li[data-level="0"] [data-name] a {
              color: #212121;
              text-transform: initial !important;
              padding: 10px 20px;
              display: block;
              white-space: nowrap; }
            [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] li[data-level="0"] [data-name] img {
              -webkit-filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
              position: absolute;
              top: 9px;
              left: 17px; }
        [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] li[data-level="0"]:hover {
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0.18)));
          background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
          background-image: -o-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
          background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
          background-color: #F44336; }
          [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] li[data-level="0"]:hover [data-name] a {
            color: white; }
          [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] li[data-level="0"]:hover [data-name] img {
            -webkit-filter: brightness(0) invert(1);
                    filter: brightness(0) invert(1); }
          [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] li[data-level="0"]:hover .hide {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important; }
        [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] [data-menu-container] {
          left: 100%;
          position: absolute;
          top: 0;
          /* background-color: white; */
          height: 100%; }
          [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] [data-menu-container] ._full-item-list {
            white-space: nowrap;
            height: 100%;
            padding-right: 100px; }
          [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] [data-menu-container] ul {
            width: 531px;
            height: 100%;
            margin-right: 30px;
            padding-top: 35px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            border-left: 1px solid whitesmoke;
            background-color: white; }
            [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] [data-menu-container] ul li {
              margin: 0;
              width: 250px;
              overflow: hidden;
              z-index: 1; }
              [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] [data-menu-container] ul li a {
                text-transform: initial !important;
                color: #212121 !important;
                padding: 10px 20px;
                display: block; }
              [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] [data-menu-container] ul li:hover a {
                color: #F44336 !important; }
            [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] [data-menu-container] ul [data-level="2"] [data-name] {
              font-weight: normal; }
          [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] [data-category-items] [data-menu-container] img {
            position: absolute;
            right: 0;
            bottom: 0;
            max-height: 100%;
            width: auto; }
      [data-container-header-category] ul > li[data-all-category] [data-tree-item-container] ._z-mask-black {
        width: 4000px;
        left: 1000px;
        height: 10000px;
        z-index: 1;
        position: absolute;
        top: 0;
        left: -500px;
        background-color: #0000007d; }

@media (min-width: 1025px) {
  #maskBlack.visible ~ main [data-container-header-category] {
    width: auto; }
  ._zDocActive {
    height: 69px;
    position: fixed;
    width: 100%;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: moveInDown;
            animation-name: moveInDown; }
    ._zDocActive [data-checking-order], ._zDocActive [data-menu-node] {
      display: none; }
    ._zDocActive [data-menu-right] {
      top: 5px !important;
      padding-top: 0 !important; }
      ._zDocActive [data-menu-right] [data-cart-item] {
        top: 3px; }
    ._zDocActive [data-box] {
      background-color: white;
      width: 100%;
      z-index: 10;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11); }
      ._zDocActive [data-box] [data-search-container] {
        padding: 5px; }
        ._zDocActive [data-box] [data-search-container] [data-container-search-bar] {
          padding-top: 5px; }
      ._zDocActive [data-box] [data-user-box-container] {
        top: 50px !important; }
    ._zDocActive [data-logo] {
      width: 95px !important;
      left: 252px;
      position: relative; }
    ._zDocActive [data-container-call] {
      visibility: hidden; }
    ._zDocActive [data-tree-item-container] {
      top: 53px !important; }
      ._zDocActive [data-tree-item-container] [data-all-category] {
        background-color: #F44336; }
    ._zDocActive nav {
      background-color: transparent !important;
      width: 100%;
      z-index: 1000; }
      ._zDocActive nav:hover [data-all-category] {
        padding: 17px 30px;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        -webkit-box-shadow: inset 0 9px 22px -10px rgba(0, 0, 0, 0.25) !important;
                box-shadow: inset 0 9px 22px -10px rgba(0, 0, 0, 0.25) !important; }
      ._zDocActive nav [data-container-header-category] [data-all-category] {
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        background-color: #F44336; }
      ._zDocActive nav [data-first-li] {
        display: none; }
    ._zDocActive [data-container-header-category] {
      position: absolute;
      top: -53px;
      /*transition: all .4s ease;
            animation-timing-function: ease-in;
            animation-duration: 0.4s;
            animation-fill-mode: both;
            animation-name: moveInUp;*/ } }

@media (max-width: 1024px) {
  [data-container-cart] [data-cart-item] {
    top: 9px;
    right: 7px; }
  ._model-show {
    overflow: hidden; }
    ._model-show [data-head] {
      height: 500vh; }
  [data-user-loged-in="True"] {
    overflow-y: scroll !important;
    height: calc(100% - 135px);
    display: block;
    position: absolute;
    top: 135px; }
  [data-user-loged-in="False"] {
    overflow-y: scroll !important;
    height: calc(100% - 68px);
    display: block;
    position: absolute;
    top: 68px; } }

@media (max-width: 1280px) {
  [data-container-header-category] ul {
    overflow-y: scroll !important; }
    [data-container-header-category] ul > li[data-first-li] {
      color: #212121;
      padding: 0;
      font-weight: normal; }
      [data-container-header-category] ul > li[data-first-li] a {
        padding: 10px;
        display: inline-block;
        color: #212121; }
      [data-container-header-category] ul > li[data-first-li]:hover {
        background-image: none;
        -webkit-box-shadow: unset;
                box-shadow: unset; }
      [data-container-header-category] ul > li[data-first-li] [data-selector-childs] {
        overflow-y: hidden;
        display: none;
        position: initial !important; }
        [data-container-header-category] ul > li[data-first-li] [data-selector-childs]:before, [data-container-header-category] ul > li[data-first-li] [data-selector-childs]:after {
          display: none; }
        [data-container-header-category] ul > li[data-first-li] [data-selector-childs] li {
          list-style: disc;
          padding: 0 !important;
          margin-left: 25px;
          border-left: 1px dashed silver; }
          [data-container-header-category] ul > li[data-first-li] [data-selector-childs] li a {
            padding: 7px 15px; }
      [data-container-header-category] ul > li[data-first-li] [data-news] li a img {
        display: inline-block !important; }
      [data-container-header-category] ul > li[data-first-li] [data-news] li a div {
        display: inline-block;
        width: calc(100% - 65px);
        vertical-align: top;
        white-space: initial; }
      [data-container-header-category] ul > li[data-first-li] input[type=checkbox]:checked ~ [data-selector-childs] {
        display: block;
        -webkit-box-shadow: none;
                box-shadow: none;
        overflow: hidden; }
        [data-container-header-category] ul > li[data-first-li] input[type=checkbox]:checked ~ [data-selector-childs] li {
          padding: 10px;
          padding-left: 25px;
          text-transform: capitalize; }
      [data-container-header-category] ul > li[data-first-li] input[type=checkbox]:checked ~ label {
        -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
                transform: rotate(-180deg);
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; } }
