/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
[data-menu-node] {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin-right: 6px;
  display: inline-block; }
  [data-menu-node] ul {
    position: relative; }
    [data-menu-node] ul li[data-level-1] {
      padding: 10px; }
    [data-menu-node] ul li a {
      color: white; }
    [data-menu-node] ul li:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0.18)));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
      background-image: -o-linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
      background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18));
      -webkit-box-shadow: inset 0 9px 22px -10px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0 9px 22px -10px rgba(0, 0, 0, 0.25); }
      [data-menu-node] ul li:hover a {
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; }
    [data-menu-node] ul li [data-child-container] {
      left: 0;
      top: 51px;
      background-color: white; }
      [data-menu-node] ul li [data-child-container] li {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: 0; }
        [data-menu-node] ul li [data-child-container] li [data-child-node] {
          position: relative;
          padding: 10px;
          background-color: transparent !important;
          border-left: 2px solid transparent;
          z-index: 1; }
          [data-menu-node] ul li [data-child-container] li [data-child-node] [data-icon-container] {
            width: 38px; }
        [data-menu-node] ul li [data-child-container] li a {
          color: #444;
          white-space: nowrap;
          font-size: 14px;
          font-weight: normal; }
        [data-menu-node] ul li [data-child-container] li [data-background-container] {
          position: absolute;
          bottom: 0;
          right: 0;
          visibility: hidden;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          opacity: 0; }
          [data-menu-node] ul li [data-child-container] li [data-background-container] img {
            position: absolute;
            bottom: 0;
            right: 0; }
        [data-menu-node] ul li [data-child-container] li:hover [data-child-node] {
          border-left: 2px solid #D32F2F; }
          [data-menu-node] ul li [data-child-container] li:hover [data-child-node] a {
            color: #D32F2F !important; }
        [data-menu-node] ul li [data-child-container] li:hover [data-background-container] {
          visibility: visible;
          opacity: 1;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
    [data-menu-node] ul ul {
      font-weight: initial;
      color: initial; }

@media (max-width: 1024px) {
  [data-head] {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
    background-color: white; }
    [data-head]._zDocActive {
      position: fixed;
      background-color: white; }
  [data-menu-node] {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 50px;
    height: 40px;
    overflow: hidden;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
    [data-menu-node] [data-menu-node-container] {
      display: none; }
    [data-menu-node].active [data-menu-node-container] {
      display: block; }
    [data-menu-node].active li {
      -webkit-transform: scale(1) translateY(0px);
          -ms-transform: scale(1) translateY(0px);
              transform: scale(1) translateY(0px);
      opacity: 1; }
    [data-menu-node] li {
      display: block;
      margin-top: 5px;
      -webkit-transform: scale(1.15) translateY(-30px);
          -ms-transform: scale(1.15) translateY(-30px);
              transform: scale(1.15) translateY(-30px);
      opacity: 0;
      -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      -o-transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
      [data-menu-node] li[data-level-1] {
        padding-left: 25px; }
      [data-menu-node] li:last-child {
        border-bottom: none; }
      [data-menu-node] li [data-level-2] {
        border-bottom: 1px solid #33333338; }
      [data-menu-node] li [data-child-container] {
        background-color: transparent !important; }
      [data-menu-node] li a, [data-menu-node] li span {
        color: #FFF !important;
        font-weight: 100;
        text-decoration: none;
        font-size: 22px;
        line-height: 2.35;
        font-weight: 200;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; }
    [data-menu-node] [data-level-1] ul {
      border-left: 1px dashed #33333338;
      margin-left: 10px; }
    [data-menu-node]::-webkit-scrollbar {
      display: none; } }
