/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
/*https: //codepen.io/fskirschbaum/pen/MYJNaj*/
[led-red] {
  margin: 0 auto;
  width: 4px;
  height: 4px;
  background-color: #F00;
  -webkit-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite; }

[data-subscribe-import-product], ._isSubscibedImport {
  margin: 0;
  font-size: 10px !important;
  padding: 2px !important; }

._isSubscibedImport {
  background-color: #e0edf6 !important;
  color: #0687db !important;
  border-left: 2px solid #15a3ff !important;
  background-image: none !important;
  cursor: initial !important;
  border-radius: unset;
  border: none; }

[data-count] {
  position: absolute;
  font-size: 10px;
  text-align: center;
  width: 100%;
  line-height: 22px;
  z-index: 1; }

._p-product-widget {
  width: 175px;
  display: inline-block;
  vertical-align: top; }
  ._p-product-widget h4 {
    line-height: 20px;
    max-height: 55px;
    overflow: hidden; }
  ._p-product-widget [data-product-widget-image-container] {
    width: 175px;
    height: 175px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  ._p-product-widget [data-product-widget-action-container] {
    height: 25px; }
    ._p-product-widget [data-product-widget-action-container] > [data-row1], ._p-product-widget [data-product-widget-action-container] > [data-row2] {
      height: 25px;
      width: 100%; }
      ._p-product-widget [data-product-widget-action-container] > [data-row1] [data-subscribe], ._p-product-widget [data-product-widget-action-container] > [data-row1] [data-subscribe-import], ._p-product-widget [data-product-widget-action-container] > [data-row1] [data-subscribe-like], ._p-product-widget [data-product-widget-action-container] > [data-row2] [data-subscribe], ._p-product-widget [data-product-widget-action-container] > [data-row2] [data-subscribe-import], ._p-product-widget [data-product-widget-action-container] > [data-row2] [data-subscribe-like] {
        margin: 0;
        font-size: 10px;
        padding: 2px;
        position: relative;
        top: -1px; }
      ._p-product-widget [data-product-widget-action-container] > [data-row1] [data-subscribe-import], ._p-product-widget [data-product-widget-action-container] > [data-row1] [data-subscribe-like], ._p-product-widget [data-product-widget-action-container] > [data-row2] [data-subscribe-import], ._p-product-widget [data-product-widget-action-container] > [data-row2] [data-subscribe-like] {
        display: inline-block !important; }

._p-product-widget[data-flash-sale-large], [data-flash-sale-detail][data-flash-sale-large] {
  width: 400px;
  max-width: 100%; }
  ._p-product-widget[data-flash-sale-large] [data-count], [data-flash-sale-detail][data-flash-sale-large] [data-count] {
    font-size: inherit;
    line-height: inherit; }
  ._p-product-widget[data-flash-sale-large] progress[value], [data-flash-sale-detail][data-flash-sale-large] progress[value] {
    height: 18px; }
  ._p-product-widget[data-flash-sale-large] progress[value]::-webkit-progress-value, [data-flash-sale-detail][data-flash-sale-large] progress[value]::-webkit-progress-value {
    min-width: 18px; }
  ._p-product-widget[data-flash-sale-large] [data-is-hot]:before, [data-flash-sale-detail][data-flash-sale-large] [data-is-hot]:before {
    background-image: url(/images/icons/fire-process-bar-22-min.png);
    width: 22px;
    height: 40px;
    top: -7px;
    left: -2px; }

._p-product-widget [data-is-hot], [data-flash-sale-detail] [data-is-hot] {
  position: relative; }
  ._p-product-widget [data-is-hot]:before, [data-flash-sale-detail] [data-is-hot]:before {
    /* background-color: red; */
    background-image: url(/images/icons/fire-process-bar-15-min.png);
    background-size: 100%;
    /* height: 100px; */
    background-repeat: no-repeat;
    position: absolute;
    width: 15px;
    height: 17px;
    top: -5px;
    left: -1px;
    content: ""; }

._p-product-widget progress[value], [data-flash-sale-detail] progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 12px; }

._p-product-widget progress[value]::-webkit-progress-bar, [data-flash-sale-detail] progress[value]::-webkit-progress-bar {
  background-color: #fdccd9;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 5px #fba0b873 inset;
          box-shadow: 0 2px 5px #fba0b873 inset; }

._p-product-widget progress[value]::-webkit-progress-value, [data-flash-sale-detail] progress[value]::-webkit-progress-value {
  background: red;
  min-width: 12px;
  background: -webkit-gradient(linear, left top, right top, from(red), to(#fcb045));
  background: -webkit-linear-gradient(left, red 0%, #fcb045 100%);
  background: linear-gradient(90deg, red 0%, #fcb045 100%);
  border-radius: 20px; }

@media (max-width: 800px) {
  ._p-product-widget [data-product-widget-action-container] {
    height: 50px;
    margin-bottom: 5px; }
    ._p-product-widget [data-product-widget-action-container] > div {
      height: 25px !important;
      display: block;
      -webkit-animation: none !important;
              animation: none !important; }
    ._p-product-widget [data-product-widget-action-container] [data-row2] {
      margin-top: 25px;
      -webkit-animation: none;
              animation: none; } }
