@import '../core/_variable.scss';

[data-brand-name] {
    [data-brand-name-container] {
        border: 1px solid $light-silver;
    }

    header {
        border-bottom: 1px solid $light-silver;
    }

    .swiper-container {
        box-sizing: content-box;
    }

    .swiper-button-next-brand {
        width: 19px;
        height: 0;
        right: -26px;
        position: absolute;
        top: 58px;
        cursor: pointer;

        &.swiper-button-disabled {
            display: none;
        }
    }

    .swiper-button-prev-brand {
        width: 19px;
        height: 0;
        left: -26px;
        position: absolute;
        top: 58px;
        cursor: pointer;

        &.swiper-button-disabled {
            display: none;
        }
    }

    .swiper-slide {
        [data-box] {
            background: #fff;
            border: 1px solid $divider-color;
            width: 100%;
            padding: 8px;

            img {
                height: 47px;
                width: auto;
                max-width: 125px;
            }
        }
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;

        &:hover {
            [data-box] {
                border-color: $primary-color-light;
                transition: all ease-in-out .1s;
            }

            ._grayscale {
                cursor: pointer;
                filter: grayscale(0);
                transition: all ease-in-out .1s;
            }
        }
    }
}


._dock-left {
    position: absolute;
    height: calc(100% - 1222px);
    z-index: 10;
}

._dock-right {
    position: absolute;
    height: calc(100% - 1222px);
    z-index: 10;
    right: 0;
}


[data-sales] [data-column] {
    padding-left: 55px;
    position: relative;
    border-right: 2px solid #ffffff69;
    margin-right: 20px;

    &:last-child {
        border: 0;
    }

    img {
        position: absolute;
        top: 20px;
        left: 0;
    }
}

[data-product-grid] .wrapper1280 {
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
}
[data-sec-product-1] {
    [data-product-id]{
        height: 180px;
    }
}

[data-container-slider] {
    img {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        height: 715px;
    }
}

[data-container-newest-product] {
    h2 {
        text-align: center;

        a {
            padding: 50px 0;
            text-align: center;
            font-weight: bold;
            color: transparent;
            background: #666666;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
            text-transform: uppercase;
            font-family: Tahoma,Verdana,Segoe,sans-serif;
            font-size: 43px;
            display: block;
        }
    }
}

._colorfull {
    font-family: "Oswald";
    font-size: 34px;
    padding: 10px 40px;
    font-weight: bold;
    color: orangered;
    font-weight: bold;
    text-shadow: 3px 3px rgba(85, 85, 85, 0.15);
    border-top: 2px solid rgba(85, 85, 85, 0.15);
    border-bottom: 2px solid rgba(85, 85, 85, 0.15);
    line-height: 1.5em;
}

[data-container-newest-post] {
    padding-bottom: 20px;

    ul {
        li {
            max-width: 406px;
            padding: 30px 10px;
            display: inline-block;
            border: none !important;
            background-color: white;
            margin: 0 10px;
            -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

            &:hover {
                -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
                box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
            }
        }
    }
}

[data-container-category-product] .fill-white {
    min-height: 600px;
    padding: 32px 5px;
}


[data-review] {
    border: 2px solid $primary-color-light;
    height: 250px;

    ._glass-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6);
    }

    .swiper-slide {
        img {
            width: 60px;
            height: 60px;
        }
    }

    [data-slider-content] {
        blockquote {
            background-color: transparent !important;
            border: none !important;
            position: relative;
            padding-left: 25px;

            &::before {
                color: $primary-color;
                content: "“";
                display: inline-block;
                font-family: "Open Sans";
                font-size: 93px;
                left: -3px;
                top: 1px;
                line-height: 1;
                position: absolute;
                z-index: 9;
            }
        }
    }
}


@media (max-width: 800px) {
    [data-brand-name] .swiper-slide [data-box] img {
        max-width: 88px;
    }

    [data-sales] {
        background-color: white !important;

        [data-column] {
            padding: 10px;
            border: none;
            margin: 0 !important;
            width: 100%;
            text-align: center;

            img {
                position: initial;
            }
        }
    }

    [data-container-slider] {
        img {
            width: 100%;
            height: auto;
            max-height: 450px;
            flex: none;
            max-width: initial;
        }

        .swiper-slide {
            height: auto;
            max-height: 375px;
            overflow: hidden;
        }
    }

    [data-product-grid] {
        ._flex-container-1 {
            display: block;
            height: auto !important;
            text-align: center;
        }

        ._image-wrap {
            display: block;
        }
    }
}
