@import '../core/_variable.scss';
@import '../core/mixin.scss';

html {
    scroll-behavior: smooth;
}

._model-show {
    overflow: hidden;
}

#viewedProduct, ._z-viewd-product {

    a {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
[data-checking-order] {
    position: relative;

    [for=showHideCheckingOrder] {
        margin-top: 10px;
    }

    .btn {
        color: white;
    }
    #showHideCheckingOrder:checked {
        ~ [data-checking-container] {
            @include arrow-box(top,7px,white,0px,$primary-text-color,160px,100px);
            top: 39px;
            display: block !important;
            width: 160px;
            right: 0;
            position: absolute;
        }

        ~ [for=showHideCheckingOrder] {
            background-image: linear-gradient(rgba(0,0,0,.18),rgba(0,0,0,.18)) !important;
        }
    }
}



main {
    ._btn-back-top {
        opacity: .4;
        margin: 20px;
        position: fixed;
        bottom: 70px;
        right: 10px;
        width: 40px !important;
        line-height: 32px !important;
        height: 40px !important;
        z-index: 9;
        font-size: 24px !important;

        &:hover {
            opacity: 0.8;
        }
    }
}




[data-main-section] {
    min-height: calc(100vh - 457px);

    header {
        [data-black-row] {
            [category-name] {
                display: inline-block;
                position: relative;
                color: white;

                a {
                    span {
                        position: absolute;
                        width: 200px;
                        text-align: right;
                        vertical-align: middle;
                        left: -205px;
                        margin: 0;
                        padding: 8px 0;
                    }

                    span, i {
                        padding-right: 10px;
                    }
                }

                h1 {
                    display: inline-block;
                    color: white;
                    font-weight: bold;
                    font-size: 60px;
                    line-height: 60px;
                }
            }
        }
    }
}

[data-cart-item] {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 33px;
    right: 36px;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 0;
    text-align: center;
    background: #2196f3cf;
    color: white;
}

[data-search-container] {
    padding: 15px 0;

    [data-container-call] {
        a {
            color: $primary-color;
            font-weight: bold;

            i {
                font-size: 24px;
                color: $primary-color;
                display: block;
                width: 38px;
                height: 38px;
                line-height: 34px;
                border: 2px solid;
                text-align: center;
                margin: 0 auto;
                border-radius: 50%;
            }
        }
    }

    [data-container-search-bar] {
        display: inline-block;
        width: calc(100% - 563px);
        vertical-align: top;
        padding-top: 20px;
        text-align: center;

        #btnSearchProductName {
            .fa {
                color: $primary-color-dark;
            }
        }
    }

    [data-menu-right] {
        position: absolute;
        right: 0;
        top: 10px;
        padding-top: 30px;

        [data-container-user-controls] {
            display: inline-block;
            padding: 0 15px;

            a[data-link] {
                i ~ span {
                    text-transform: uppercase;
                    color: $primary-color-dark;
                }

                i.fa {
                    display: block;
                    margin: 5px;
                    text-align: center;
                    color: $primary-color-dark;
                }
            }

            [data-user-box-container] {
                top: 84px;
            }
        }

        [data-container-cart] {
            display: inline-block;
            padding: 0 15px;

            li {
                i ~ span {
                    text-transform: uppercase;
                    color: $primary-color-dark;
                }

                i.fa {
                    display: block;
                    margin: 5px;
                    text-align: center;
                    color: $primary-color-dark;
                }
            }
        }
    }
}

[data-container-shoping-cart].visible {
    [data-container] {
        transform: none;
    }
}

[data-container-shoping-cart] {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;

    ._modal {
    }

    [data-container] {
        width: 340px;
        float: right;
        height: 100%;
        display: block;
        z-index: 500;
        overflow: hidden;
        -webkit-transition: transform .25s ease;
        -webkit-transition: -webkit-transform .25s ease;
        transition: -webkit-transform .25s ease;
        transition: transform .25s ease;
        transition: transform .25s ease,-webkit-transform .25s ease;
        transform: translate3d(340px,0,0);
        -webkit-transform: translate3d(340px,0,0);

        [data-type-close-popup] {
            line-height: 30px;

            ._close-button {
                height: 11px;
            }
        }

        [data-cart-container] {
            height: calc(100% - 75px);
            position: absolute;
            width: 100%;
        }
    }
}



@media (max-width: 800px) {

    [data-main-section] {
        min-height: initial;
    }

    #tawkchat-container {
        z-index: 9 !important;
    }
}

@media (max-height: 500px) {
    [data-container-logo] {
        border: none !important;

        img {
            display: none !important;
        }
    }
}

@media (max-width: 1024px) {

    [data-main-section] {
        header {
            [data-black-row] {
                padding: 20px !important;
                overflow: hidden;
                [category-name] {

                    a {
                        span {
                        }

                        span, i {
                        }
                    }

                    h1 {
                        font-size: 30px;
                        line-height: 40px;
                    }
                }
            }
        }
    }

    [data-container-mobile-nav].visible {
        [data-container] {
            transform: none;
        }
    }

    main {
        ._btn-back-top {
            display: none;
        }

        [data-main-section] {
            margin-top: 44px;
        }

        [data-head] {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: white;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19);
        }
    }

    [data-container-mobile-nav] {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;

        ._modal {
        }

        [data-container] {
            width: 340px;
            float: left;
            height: 100%;
            display: block;
            z-index: 500;
            overflow: hidden;
            background-color: #fff;
            -webkit-transition: transform .25s ease;
            -webkit-transition: -webkit-transform .25s ease;
            transition: -webkit-transform .25s ease;
            transition: transform .25s ease;
            transition: transform .25s ease,-webkit-transform .25s ease;
            transform: translate3d(-340px,0,0);
            -webkit-transform: translate3d(-340px,0,0);

            [data-type-close-popup] {
                line-height: 30px;

                ._close-button {
                    height: 11px;
                }
            }
        }
    }
}
