@import '../core/_variable.scss';

._dock-left {
    position: absolute;
    height: calc(100% - 500px);
    z-index: 10;
}

._dock-right {
    position: absolute;
    height: calc(100% - 500px);
    z-index: 10;
    right: 0;
}


[data-row-1] {
    z-index: 1;
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6));
}

[data-row-2] {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
}

._id-listPost ul li {
    width: 225px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border: none !important;
}

[data-container-social] li:first-child {
    margin-right: 4px;
    padding-top: 7px;
}
.zalo-share-button {
}

[data-related-product] {
    ._id-listProduct {
        justify-content: space-evenly;
    }
}

#rightSide {
    max-height: 10000px;

    ._header2 {
        border-bottom: 1px solid $silver-smoke;

        h3 {
            font-weight: bold;
        }
    }

    aside {
        max-height: 10000px;
    }

    [data-section-2] {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    [data-trending-post][data-lv2] header {
        width: calc(100% - 88px);

        h4 {
            line-height: 22px;
        }
    }
}

@media(max-width:1024px) {
    [data-container-post-detail] img {
        height: auto;
    }
}
