@import '../core/_variable.scss';

/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
//ZOOM
.ql-toolbar {
    top: 0;
    z-index: 1;
    background-color: white;
}

#frmProductRating figure {
    max-width: 150px;
}


._grayscale:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: all ease-in-out .1s;
    -o-transition: all ease-in-out .1s;
    transition: all ease-in-out .1s;
}
[data-related-products] {
    ._id-listProduct{
        justify-content: center;
    }
}

[data-css-simple-detail] {
    ._isSubscibed {
        font-size: 15px !important;
        padding: 10px 15px !important;
    }

    ._isSubscibedImport {
        background-color: #e0edf6 !important;
        color: #0687db;
        padding: 15px;
        font-size: 16px;
        line-height: 23px;
        border-left: 3px solid #15a3ff !important;
        background-image: none !important;
        cursor: inherit;
    }

    [data-subscribe-import-product] {
        font-size: 17px !important;
        padding: 8px 15px !important;
    }

    #btnLike {
        font-size: 17px !important;
        padding: 0 !important;
        padding-top: 5px !important;

        &.disabled {
            padding-top: 0 !important;
            font-size: 13px !important;
        }
    }

    ._isSubscibedFlashSale {
        font-size: 17px !important;
        padding: 0 !important;
        line-height: 0;
    }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    fill: silver;
    background-image: none !important;
    background-color: transparent !important;
    padding: 9px !important;

    &:hover {
        fill: black;
    }
}

._atyc {
    font-size: 0;
}


._dock-left {
    position: absolute;
    height: calc(100% - 500px);
    z-index: 10;
}

._dock-right {
    position: absolute;
    height: calc(100% - 500px);
    z-index: 10;
    right: 0;
}

[data-css-simple-detail] {
    min-height:571px;
}
//
[data-css-discount] {
    top: -5px;
    left: 8px;
}

[data-selector-newest-post] {
    top: 25px;
}

.spritespin-progress {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 45%;
}

.spritespin-progress-label {
    color: grey;
}

.spritespin-progress-bar {
    background-color: grey;
    height: 1px;
}

.spritespin {
    cursor: -webkit-grab;
    cursor: grab;
}

[data-html-content] {

    img {
        max-width: 100%;
    }

    ol, ul {
        line-height: 24px;
        display: inline-flex;
        vertical-align: middle;
        flex-wrap: wrap;
        margin-left: 30px;
        margin-top: 5px;

        li {
            width: 100%;
        }
    }

    ul {
        list-style: disc;
    }

    em {
        color: $color-text;
    }
}

input[type=radio]:checked + [data-css-classification] {
    border-color: red;
    color: red;

    .icon-v {
        font-size: 8px;
        width: 8px;
        height: 8px;
        bottom: 3px;
        right: 3px;
        /* color: white; */
        fill: white;
        display: block;
    }

    &:before {
        border: 1.5rem solid transparent;
        border-bottom-color: red;
        content: "";
        position: absolute;
        right: -1.5rem;
        bottom: 0;
        display: block;
    }
}

[data-css-classification] {
    display: inline-block;
    min-width: 8rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 38px;
    line-height: 1;
    margin: 0 8px 8px 0;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    position: relative;
    background: #fff;
    outline: 0;
    overflow: hidden;

    .icon-v {
        display: none;
    }

    [data-attribute-style] {
        display: inline-block;
        width: 36px;
        content: "";
        height: 36px;
    }

    [data-attribute-value] {
        padding: 10px 5px 0 5px;
    }
}

[data-buttons] .btn {
    width: 49%;
}


[data-out-of-stock] {
    ~ {

        [data-css-in-stock] {
            display: block;
        }

        [data-css-out-of-stock] {
            display: none;
        }
    }

    &:checked ~ {
        [data-css-in-stock] {
            display: none;
        }

        [data-css-out-of-stock] {
            display: block;
        }
    }
}

[data-flash-sale] {
    margin-top: 25px;
    background-color: white;

    [data-flash-sale-head] {
        padding: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid $divider-color;
    }

    [data-product-class-id] {
        padding: 20px;
    }
}

[data-nav-product-detail] {
    height: 100%;
    position: absolute;
    padding-top: 84px;
    z-index: 1;
    left: -43px;

    ._sticky {
        left: -43px;
        width: 43px;
        padding-top: 110px;

        button {
            background-color: white;
            color: $silver-smoke-opa5;
            width: 42px;
            height: 42px;
            border: none !important;
            background-color: white;
            float: right;
            box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 0.19);
            margin-bottom: 4px;
            transition: background-color 0.2s ease-in, color 0.2s ease;
        }
    }
}

[data-session-active="1"] {
    [data-nav-product-detail] {
        [data-target="1"] {
            background-color: white;
            transition: all 0.2s ease-in;
            color: $color-text !important;
            box-shadow: none;
        }
    }
}

[data-session-active="2"] {
    [data-nav-product-detail] {
        [data-target="2"] {
            background-color: white;
            transition: all 0.2s ease-in;
            color: $color-text !important;
            box-shadow: none;
        }
    }
}

[data-session-active="3"] {
    [data-nav-product-detail] {
        [data-target="3"] {
            background-color: white;
            transition: all 0.2s ease-in;
            color: $color-text !important;
            box-shadow: none;
        }
    }
}

[data-session-active="4"] {
    [data-nav-product-detail] {
        [data-target="4"] {
            background-color: white;
            transition: all 0.2s ease-in;
            color: $color-text !important;
            box-shadow: none;
        }
    }
}

[data-session-active="5"] {
    [data-nav-product-detail] {
        [data-target="5"] {
            background-color: white;
            transition: all 0.2s ease-in;
            color: $color-text !important;
            box-shadow: none;
        }
    }
}

[data-session-active="6"] {
    [data-nav-product-detail] {
        [data-target="6"] {
            background-color: white;
            transition: all 0.2s ease-in;
            color: $color-text !important;
            box-shadow: none;
        }
    }
}

[data-session-active="7"] {
    [data-nav-product-detail] {
        [data-target="7"] {
            background-color: white;
            transition: all 0.2s ease-in;
            color: $color-text !important;
            box-shadow: none;
        }
    }
}


[data-ingedient-item] {
    width: 50%;
    padding: 10px;
}

@media(max-width:1024px) {
    [data-html-content] img{
        height: auto;
    }
    [data-nav-product-detail] {
        height: auto;
        position: fixed;
        padding-top: 0;
        z-index: 10;
        left: 0;
        width: 100%;

        ._sticky {
            left: 0;
            width: 100%;
            padding-top: 0;
            top: 0;
            position: fixed;
            display: flex;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19);

            [data-target] {
                background-color: white;
                color: $silver-smoke-opa5;
                width: 100px;
                height: 42px;
                background-color: white;
                float: unset;
                margin-bottom: 0;
                transition: background-color 0.2s ease-in, color 0.2s ease;
                margin: 0;
                box-shadow: none;
                border-left: 1px solid whitesmoke !important;
            }
        }
    }
}

@media (max-width: 800px) {
    [data-selector-newest-post] {
        position: static !important;
        margin-top: 25px !important;
    }

    ._id-listRatings {
        .col-1 {
            width: 16.66666666666667%;
        }

        .col-11 {
            width: 83.33333333333333%
        }
    }


    .fb_iframe_widget_fluid span, iframe.fb_ltr {
        width: 100% !important;
    }

    [data-ingedient-item] {
        width: 100%;
    }

    .fb_dialog {
        bottom: 36pt !important;
        right: 4pt !important;
    }

    [data-css-simple-detail] {
        min-height: initial;
    }

    #btnLike {
        &.disabled {
            display: none;
        }
    }

    [data-head]._zDocActive ~ [data-main-section] #frmAddToCart {
        border: 1px solid whitesmoke;
        position: fixed;
        bottom: 0;
        background-color: white !important;
        left: 0;
        z-index: 10;


        [data-css-add-item] {
            margin: 0;
            padding: 5px;
            vertical-align: middle;
            text-align: center;

            > div:nth-child(1) {
                display: none;
            }

            > div:nth-child(2) {
                display: inline-block;
                padding: 0;
                vertical-align: middle;
                padding-top: 4px;
                padding-right: 5px;
            }

            > div:nth-child(3) {
                display: inline-block;
                padding: 0;
                vertical-align: middle;

                button {
                    font-size: 14px;
                    width: auto;
                    padding: 5px 10px;
                }
            }
        }
    }
}
