@charset "UTF-8";
/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
._dock-left {
  position: absolute;
  height: calc(100% - 1222px);
  z-index: 10; }

._dock-right {
  position: absolute;
  height: calc(100% - 1222px);
  z-index: 10;
  right: 0; }

[data-category-container] {
  min-height: 350px; }

[data-two-column] [data-content] span {
  font-weight: 300;
  margin-bottom: 22px;
  margin-left: 10px;
  text-transform: uppercase; }

header h1 {
  background-color: rgba(1, 136, 204, 0.76); }

[data-sales] [data-column] {
  padding-left: 55px;
  position: relative;
  border-right: 2px solid #ffffff69;
  margin-right: 20px; }
  [data-sales] [data-column]:last-child {
    border: 0; }
  [data-sales] [data-column] img {
    position: absolute;
    top: 20px;
    left: 0; }

nav [data-slider-content] h2 {
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  font-size: 18px;
  line-height: 22px; }

nav [data-slider-content] h3 {
  font-weight: 800;
  text-transform: uppercase;
  color: #757575;
  font-size: 40px;
  line-height: 45px;
  padding: 10px 0; }

nav [data-slider-content] p {
  font-weight: 300; }

[data-container-slider] img {
  width: 100%; }

[data-container-slider] .swiper-slide {
  height: 350px; }

[data-product-grid] .wrapper1280 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }

[data-review] {
  border: 2px solid #03abff;
  height: 350px; }
  [data-review] ._glass-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6); }
  [data-review] .swiper-slide img {
    width: 60px;
    height: 60px; }
  [data-review] [data-slider-content] blockquote {
    background-color: transparent !important;
    border: none !important;
    position: relative; }
    [data-review] [data-slider-content] blockquote::before {
      color: #0188CC;
      content: "“";
      display: inline-block;
      font-family: "Open Sans";
      font-size: 93px;
      left: -3px;
      top: 1px;
      line-height: 1;
      position: absolute;
      z-index: 9; }

[data-contact] {
  background-color: #f5f5f5; }

#frmContact .row {
  padding-top: 20px; }
  #frmContact .row label {
    position: absolute;
    top: 4px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    left: 0;
    font-weight: normal; }
    #frmContact .row label span {
      color: red !important;
      font-weight: normal; }
  #frmContact .row input, #frmContact .row textarea {
    padding-left: 0; }
    #frmContact .row input:hover, #frmContact .row textarea:hover {
      -webkit-box-shadow: none !important;
              box-shadow: none !important;
      background-color: transparent !important; }
    #frmContact .row input:focus, #frmContact .row textarea:focus {
      border-bottom-width: 2px;
      -webkit-box-shadow: none !important;
              box-shadow: none !important;
      background-color: transparent !important; }
      #frmContact .row input:focus + label, #frmContact .row textarea:focus + label {
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        font-size: 11px;
        top: 4px; }
  #frmContact .row button {
    font-size: 17px;
    padding: 8px 15px !important; }
  #frmContact .row[data-captcha-container] {
    padding-top: 31px; }
    #frmContact .row[data-captcha-container] ._image-wrap {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 19px; }
      #frmContact .row[data-captcha-container] ._image-wrap::before {
        width: 100%;
        height: 100%;
        background-image: url(../../../images/icons/continuous-min.svg);
        position: absolute;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80% 80%;
        background-color: transparent;
        -webkit-transition: all .5s ease-in;
        -o-transition: all .5s ease-in;
        transition: all .5s ease-in;
        display: none; }
      #frmContact .row[data-captcha-container] ._image-wrap::after {
        display: none; }
      #frmContact .row[data-captcha-container] ._image-wrap:hover::before {
        background-color: #0000003b;
        -webkit-transition: all .5 ease-in;
        -o-transition: all .5 ease-in;
        transition: all .5 ease-in;
        display: block; }

._colorfull {
  font-weight: 700;
  border-bottom: 1px solid #f5f5f5;
  line-height: 1.5em;
  color: #757575; }

.swiper-button-next-brand {
  width: 19px;
  height: 0;
  right: -26px;
  position: absolute;
  top: 58px;
  cursor: pointer; }
  .swiper-button-next-brand.swiper-button-disabled {
    display: none; }

.swiper-button-prev-brand {
  width: 19px;
  height: 0;
  left: -26px;
  position: absolute;
  top: 58px;
  cursor: pointer; }
  .swiper-button-prev-brand.swiper-button-disabled {
    display: none; }

[data-container-newest-post] ul li {
  max-width: 630px;
  padding: 30px 10px;
  display: inline-block;
  border: none !important; }

[data-container-newest-post] h2 [data-title] {
  background-color: white;
  position: relative;
  z-index: 10;
  width: auto;
  z-index: 2; }

[data-container-newest-post] h2 ._z-line {
  height: 1px;
  position: relative;
  display: block;
  top: -18px;
  z-index: 0;
  left: 0;
  z-index: 0;
  border-bottom: 1px solid rgba(117, 117, 117, 0.58); }

[data-container-category-product] .fill-white {
  min-height: 600px; }

[data-menu] li {
  position: relative;
  margin-top: -1px; }
  [data-menu] li [data-name] {
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -.3px;
    padding: 13px 12px 14px;
    text-transform: uppercase;
    border-bottom: 1px solid silver;
    margin-left: 15px;
    margin-right: 15px; }
  [data-menu] li:last-child [data-name] {
    border-bottom: none; }
  [data-menu] li:hover {
    background-color: #0188CC;
    color: white; }
    [data-menu] li:hover [data-name] {
      border-bottom-color: transparent; }
  [data-menu] li [data-menu-container] {
    right: 3px;
    -webkit-animation: menuFadeInLeft 0.2s ease-out;
            animation: menuFadeInLeft 0.2s ease-out;
    z-index: 10;
    top: 0;
    right: 0;
    position: absolute; }
    [data-menu] li [data-menu-container]:before {
      content: '';
      position: absolute;
      border-right: 12px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      left: -12px;
      top: 13px;
      z-index: 112; }
    [data-menu] li [data-menu-container].hide {
      right: 0; }
    [data-menu] li [data-menu-container] [data-menu] {
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
              box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      background-color: white;
      min-width: 200px;
      margin-bottom: 0;
      border-bottom: none;
      margin: 0; }
      [data-menu] li [data-menu-container] [data-menu] + img {
        max-width: 200px;
        height: auto; }
    [data-menu] li [data-menu-container] li {
      color: #444 !important; }
      [data-menu] li [data-menu-container] li [data-menu-container]:before {
        display: none; }
      [data-menu] li [data-menu-container] li:hover {
        background-color: #f6f6f6;
        color: #444;
        text-decoration: underline; }

[data-container-category] [data-tab] {
  position: relative;
  text-align: center; }
  [data-container-category] [data-tab]::before {
    height: 2px;
    width: 0;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    bottom: 0;
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: -1px;
    right: -1px;
    background-color: #0188CC; }

[data-container-category] [data-active-tab-number] li[data-tab-active]::before, [data-container-category] [data-active-tab-number="0"] li[data-tab="0"]::before, [data-container-category] [data-active-tab-number="1"] li[data-tab="1"]::before, [data-container-category] [data-active-tab-number="2"] li[data-tab="2"]::before, [data-container-category] [data-active-tab-number="3"] li[data-tab="3"]::before, [data-container-category] [data-active-tab-number="4"] li[data-tab="4"]::before, [data-container-category] [data-active-tab-number="5"] li[data-tab="5"]::before, [data-container-category] [data-active-tab-number="6"] li[data-tab="6"]::before {
  width: 100%; }

[data-container-category] [data-active-tab-number] li[data-tab-active] label, [data-container-category] [data-active-tab-number="0"] li[data-tab="0"] label, [data-container-category] [data-active-tab-number="1"] li[data-tab="1"] label, [data-container-category] [data-active-tab-number="2"] li[data-tab="2"] label, [data-container-category] [data-active-tab-number="3"] li[data-tab="3"] label, [data-container-category] [data-active-tab-number="4"] li[data-tab="4"] label, [data-container-category] [data-active-tab-number="5"] li[data-tab="5"] label, [data-container-category] [data-active-tab-number="6"] li[data-tab="6"] label {
  color: #0188CC; }

[data-container-category] nav ul li {
  font-size: 30px; }

@-webkit-keyframes menuFadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes menuFadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@media (max-width: 800px) {
  [data-container-slider] img {
    height: 100%;
    width: initial;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: initial; }
  [data-container-slider] .swiper-slide {
    height: 375px;
    overflow: hidden; }
  [data-sales] {
    background-color: white !important; }
    [data-sales] [data-column] {
      padding: 25px 10px;
      border: none;
      margin: 0 !important;
      width: 100%;
      text-align: center; }
      [data-sales] [data-column] img {
        position: initial; }
  [data-product-grid] ._flex-container-1 {
    display: block;
    height: auto !important;
    text-align: center; }
  [data-product-grid] ._image-wrap {
    display: block; } }
