/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
$bg-color: #fafafa;
$light-silver: #f5f5f5;

/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
//$border-gray: rgba(158, 158, 158, 0.63);
//$text-color: #5e5e5e;
$line-height:21px;
$line-height-x:26px;
$z-index-1:1;


$color-text: #444;
$black-tranparent: rgba(0, 0, 0, 0.5) ;
$color-input-text: #555;
$primary-color-opacity: #D32F2F;
$primary-color-dark: #485F28;//dark red
$primary-color: #95A83E;//red
$primary-color-light: #9FC03D;//lisght red
$primary-color-text: #95A83E;//white
$accent-color: #03A9F4 ;//blue
$primary-text-color: #4c4c4c;//black
$secondary-text-color: #6b7a83;//silver
$divider-color: lightgray; //smoke
$silver-smoke: #f6f7fb; //line-smoke
$silver-smoke-opa5: rgba(246, 247, 251, 0.55) ; //line-smoke
$light-green-color: #8BC34A;//light green
