/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
._dock-left {
  position: absolute;
  height: calc(100% - 500px);
  z-index: 10; }

._dock-right {
  position: absolute;
  height: calc(100% - 500px);
  z-index: 10;
  right: 0; }

._id-description img {
  max-width: 100%; }

#readMore:checked + ._id-description {
  max-height: 10000px; }
  #readMore:checked + ._id-description ._id-readmore-container {
    display: none; }

._id-description {
  max-height: 300px;
  overflow: hidden; }

._id-readmore-container {
  width: calc(100% - 40px);
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(18%, white), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, white 0%, white 18%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, white 0%, white 18%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, white 0%, white 18%, rgba(255, 255, 255, 0) 100%); }

fieldset._id-nouirange {
  border: none; }
  fieldset._id-nouirange .noUi-tooltip {
    border: none;
    top: 0;
    padding: 0px; }
  fieldset._id-nouirange .noUi-horizontal {
    height: 4px; }
    fieldset._id-nouirange .noUi-horizontal .noUi-connects {
      background: whitesmoke; }
      fieldset._id-nouirange .noUi-horizontal .noUi-connects .noUi-connect {
        background: orangered; }
  fieldset._id-nouirange .noUi-handle {
    height: 24px !important;
    width: 24px !important;
    top: -12px !important;
    right: -12px !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: e-resize; }
    fieldset._id-nouirange .noUi-handle:before, fieldset._id-nouirange .noUi-handle:after {
      display: none; }

[data-nav-section] {
  padding-bottom: 25px; }
  [data-nav-section] [data-selector-slider] {
    padding-left: 20px;
    padding-right: 60px; }

._id-categoryList label .fa-stack {
  top: -32px; }

ul > li input:checked ~ label [data-name] {
  font-weight: bold;
  color: black; }

[data-show-hide] ~ [data-menu] {
  display: none; }

[data-show-hide] ~ label .fa-stack {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  -o-transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out; }
  [data-show-hide] ~ label .fa-stack .fa-angle-up {
    line-height: 24px; }

[data-show-hide]:checked ~ label .fa-stack {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  [data-show-hide]:checked ~ label .fa-stack .fa-circle {
    color: whitesmoke !important; }

[data-show-hide]:checked ~ [data-menu] {
  display: block; }
